/* Generator button */
a, a:hover, a:active, a:focus{outline: 0;}
#k2ticon-generator-button{padding-left:3px;}
.k2ticon-button-icon{display: inline-block; width: 14px; height: 12px; margin: 0px 5px 0px 2px; background:url('../inc/images/k2ticon-icon-button.png') no-repeat; vertical-align: middle;}

/* Generator panel */
#k2ticon-generator-overlay{width:100%; height:100%; left:0px; position:fixed; top:0px; z-index: 159900;}
.k2ticon-overlay-bg{background-color: #000000; opacity: 0.75;}
#k2ticon-generator-wrap {top:30px; right:30px; left:30px; bottom:30px; display: none; position: fixed; background: #fff; min-width:660px; min-height:600px; z-index: 160000;}
#k2ticon-generator {margin:0; padding:20px; overflow: auto;}
#k2ticon-generator-shell {padding:0px;}
#k2ticon-generator-close{height:13px; width: 13px; position:absolute; right:20px; top:20px; z-index: 1000;}
#k2ticon-generator-close-html{height:13px; width: 13px; position:absolute; right:10px; top:10px; z-index: 1010;}
#k2ticon-generator-close span, #k2ticon-generator-close-html span{display: block; width:13px; height:13px;}
#k2ticon-generator-close .k2ticon-close-icon, #k2ticon-generator-close-html .k2ticon-close-icon{background:url('../inc/images/k2ticon-close.png') no-repeat;}

/* Generator options */
#k2ticon-generator-shell #k2ticon-generator-options tr td {padding:0 10px 15px 0; width:170px; }
#k2ticon-generator-shell #k2ticon-generator-options tr td.generator-title {font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#444; font-weight:bold; width:70px; padding-right:0px;}
#k2ticon-generator-shell #k2ticon-generator-options tr td .size-attribute {padding:0 0 0 5px; color:#AEADAD; font-style:italic;}
#k2ticon-generator-insert{float:right;}
#k2ticon-generator-show-html{float:left;}
.k2ticon-clear{clear:both;}

/* Input */
#k2ticon-generator-shell #k2ticon-generator-options input, #k2ticon-generator-shell #k2ticon-generator-options select {border: 1px solid #ddd; color: #747474; height: 27px; padding: 0 10px; font-size:11px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
#k2ticon-generator-shell #k2ticon-generator-options select {width:100%; padding: 0 0 0 10px;}
#k2ticon-generator-shell #k2ticon-generator-options input#k2ticon-generator-icon-url{width:100%;}
#k2ticon-generator-shell #k2ticon-generator-options input#k2ticon-generator-icon-size{width:102px;}

@-moz-document url-prefix() {
	#k2ticon-generator-shell #k2ticon-generator-options select {padding: 5px 5px 5px 10px; }
}

/* Color picker */
.k2ticon-colorpicker-wrapper{position:relative; display:block;}
.k2ticon-colorpicker-wrapper .wp-picker-container{position:absolute; left:0; top:0; background:#fff;}
#k2ticon-generator-shell #k2ticon-generator-options .wp-color-result {height:27px; border-color:#ddd; top:1px;}
#k2ticon-generator-shell #k2ticon-generator-options .wp-color-result:after {line-height:27px; border-color:#ddd;}
#k2ticon-generator-shell #k2ticon-generator-options .wp-color-result:focus, #k2ticon-generator-shell #k2ticon-generator-options .wp-color-result:hover, #k2ticon-generator-shell #k2ticon-generator-options .wp-color-result:focus:after, #k2ticon-generator-shell #k2ticon-generator-options .wp-color-result:hover:after {border-color:#ddd; box-shadow:none;}
.k2ticon-colorpicker-wrapper .k2ticon-generator-select-color-value{padding: 0px 5px; width:50px;}
#k2ticon-generator-shell #k2ticon-generator-options input.wp-picker-clear{height:29px;}

/* Get HTML */
#k2ticon-shortcode-html {position: absolute; top: 20%; left: 50%; margin-left:-200px; background:#fff; width:400px; min-height:200px; padding:30px 20px 20px; border:10px solid #2B2B2B; }
#k2ticon-shortcode-html textarea{width:100%; min-height:100px;}
.k2ticon-generator-note{font-size:11px; color:#9A9A9A; display:block; padding-top:10px;}

/* Icons list */
.k2ticon-generator-icon-select ul {width:100%; min-height:250px; max-height:350px; overflow:auto; display:inline-block; margin-top:10px; padding:0; border:1px solid #ccc;}
.k2ticon-generator-icon-select li{display:inline-block; list-style:none; padding:0; margin:0;}
.k2ticon-generator-icon-select li label {color:#777777; display:inline-block !important; float:none !important; width:35px !important; text-align:center; font-size:16px !important; font-weight:normal !important; padding:5px 0 !important; margin:3px; border:1px solid #eee !important;}
.k2ticon-generator-icon-select li label:hover {background:#eee; border:1px solid #ccc !important; cursor: pointer;}
.k2ticon-generator-icon-select li input[type="radio"]:checked+label {background: #E1FF95; border: 1px solid #96BF0B !important; color:#225803;}
.k2ticon-generator-icon-select input{display:none;}

/* Retina */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.k2ticon-button-icon{background:url('../inc/images/k2ticon-icon-button@2x.png') no-repeat; background-size: 14px 12px;}
	#k2ticon-generator-close .k2ticon-close-icon, #k2ticon-generator-close-html .k2ticon-close-icon{background:url('../inc/images/k2ticon-close@2x.png') no-repeat; background-size: 13px 13px;}
}

/* VC override */
.vc_row .vc_background-image, .vc_row .vc_background-style{
    display: none;
}
.button_style .dark_grey{background-color: #4f4f4f; color: #fff;}
.button_style .orange{background-color: #f26522; color: #fff;}
.button_style .dark_blue{background-color: #497fe0; color: #fff;}
.button_style .dark_red{background-color: #c6463d; color: #fff;}
.button_style .light_grey{background-color: #e6e6e6; color: #777777;}
.button_style .light_blue{background-color: #5ec5f4; color: #fff;}
.button_style .green{background-color: #6fce72; color: #fff;}