/**
* The stylesheet for displaying on mobile device.
*
* @package Furion
* @author  LunarTheme
* @link	http://www.lunartheme.com
*/
/*--------------------------------------------------------------
	1. Max Screen 1300px
--------------------------------------------------------------*/
@media only screen and (max-width: 1800px) {
	.k2t-title-bar {
		padding-left: 100px;
	}
	.k2t-title-bar .main-title {
		text-indent: 0px;
	}
	.k2t-title-bar .main-title:after {
		left: 0;
	}
	.k2t-title-bar .main-excerpt,
	.k2t-title-bar .description,
	.k2t-breadcrumbs {
		margin-left: 97px;
	}

}
/*--------------------------------------------------------------
	1. Max Screen 1300px
--------------------------------------------------------------*/
@media only screen and (max-width: 1300px) and (min-width: 1170px) {
	
}

/*--------------------------------------------------------------
	1. Max Screen 1280px
--------------------------------------------------------------*/
@media only screen and (max-width: 1280px){
	.k2t-header-mid .k2t-menu li:nth-last-child(2) ul li ul {
		left: -190px
	}
}


/*--------------------------------------------------------------
	1. Max Screen 1199px
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px){
	.widget #wp-calendar td#today {
		background: transparent;
		font-size: 115%;
		font-weight: bold;
		color: #303030;
	}
}


/*--------------------------------------------------------------
	1. Max Screen 1200px
--------------------------------------------------------------*/
@media only screen and (max-width: 1200px){
	.k2t-header > div {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*--------------------------------------------------------------
	1. Max Screen 1170px
--------------------------------------------------------------*/
@media only screen and (max-width: 1170px){
	.k2t-title-bar {
		padding-left: 15px;
		padding-right: 15px;
	}
	.k2t-footer .k2t-bottom .k2t-row > div:first-child,
	.k2t-footer .k2t-bottom .k2t-row > div:first-child > aside {
		padding-left: 15px;
	}
	.k2t-footer .k2t-bottom .k2t-row > div:last-child,
	.k2t-footer .k2t-bottom .k2t-row > div:last-child > aside {
		padding-right: 15px;
	}
}

/*--------------------------------------------------------------
	2. Max Screen 1024px
--------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	/*----------- title-bar -----------*/
	.k2t-title-bar .main-title.length-title {
		font-size: 40px;
	}
	.k2t-title-bar .main-title.medium-title {
		font-size: 50px;
	}
	.k2t-title-bar .main-title {
		font-size: 60px;
	}
	/*----------- 2.1 Container -----------*/
	.k2t-container {
		width: 100%;
	}
	.k2t-info,
	.k2t-not-found,
	.vc_row > div > .wpb_column,
	.vc_row > div > div > .wpb_column {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.vc_row > div > .wpb_column.mobile-nopadding,
	.vc_row > div > div > .wpb_column.mobile-nopadding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	/*----------- 2.5 Menu -----------*/
	.k2t-header-mid .k2t-menu li ul {
		top: 80px;
	}
	.k2t-header-mid .k2t-menu > li > a {
		line-height: 80px;
		padding: 0 15px;
		font-size: 95%;
	}
	.k2t-header-mid .k2t-logo img {
		max-height: 44px;
	}
	.k2t-btt {
		bottom: 10px;
		right: 10px;
	}
	/* blog */
	.b-masonry .masonry-layout {
		margin-left: 0;
		margin-right: 0;
	}
	.flx-entry-thumb {
		max-width: 100%;
	}
}

/*--------------------------------------------------------------
	5. Screen between 800px to 900px
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.k2t-title-bar .main-title {
		font-size: 30px;
	}
	.k2t-info .row [class*="col-"] {
		float: none;
		width: 100%;
		text-align: center;
	}
	.b-masonry [class*="column-"] .grid-sizer {
		width: 50%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry {
		width: 50%;
	}

	/*----------- 2.5 Menu -----------*/
	.k2t-header-mid {
		height: 70px;
	}
	.k2t-header-mid .k2t-menu li ul {
		top: 62px;
	}
	.k2t-header-mid .k2t-menu > li > a {
		line-height: 60px;
		padding: 0 10px;
		font-size: 90%;
	}
	.k2t-header-mid .k2t-logo {
		margin: 20px 0 0;
	}
	.k2t-header-mid .k2t-logo img {
		max-height: 40px;
	}
}

/*--------------------------------------------------------------
	3. Max Screen 800px
--------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
	.right-sidebar .k2t-blog, 
	.right-sidebar .k2t-main {
		padding-right: 0;
	}

	/*----------- 2.2 Header -----------*/
	.k2t-header > *:not(.k2t-header-m) {
		display: none;
	}
	.k2t-header {
		padding-top: 0;
	}
	.k2t-header-m {
		background: #fff;
		display: block;
		z-index: 1000;
		width: 100%;
	}

	/*----------- 2.5 Menu -----------*/
	.m-trigger {
		height: 30px;
		width: 30px;
		z-index: 100;
		position: relative;
		display: inline-block;
		cursor: pointer;
	}
	.m-trigger:hover span,
	.m-trigger:hover span:before,
	.m-trigger:hover span:after {
		background-color: #000
	}
	.m-trigger span,
	.m-trigger span:before,
	.m-trigger span:after {
		background-color: #999;
		content: "";
		display: block;
		height: 3px;
		width: 14px;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition:    all .3s ease-in-out;
		transition:         all .3s ease-in-out;
	}
	.m-trigger span {
		left: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);
		transform:         translate(-50%, -50%);
	}
	.m-trigger span:before {
		margin-top: -5px;
		position: absolute;
	}
	.m-trigger span:after {
		margin-top: 5px;
		position: absolute;
	}
	.m-trigger.open span {
		background-color: transparent !important;
		left: 54%;
	}
	.m-trigger.open span:before,
	.m-trigger.open span:after {
		width: 14px;
		-webkit-transform: rotate(45deg);
		-moz-transform:    rotate(45deg);
		-ms-transform:     rotate(45deg);
		-o-transform:      rotate(45deg);
		transform:         rotate(45deg);
		-webkit-transform-origin: 0 50%;
		-ms-transform-origin:     0 50%;
		transform-origin:         0 50%;
	}
	.m-trigger.open span:after {
		-webkit-transform: rotate(-45deg);
		-moz-transform:    rotate(-45deg);
		-ms-transform:     rotate(-45deg);
		-o-transform:      rotate(-45deg);
		transform:         rotate(-45deg);
	}
	body {
		right: auto;
		left: 0;
	}
	body.nav-is-visible,
	body.nav-is-visible .k2t-header-m {
		left: 260px;
	}
	.nav-is-hide,
	.menu-mobile-wrap,
	.menu-mobile-wrap ul,
	.k2t-menu-m .menu,
	.k2t-menu-m .menu ul {
		-webkit-transition: all .4s ease-in-out;
		-moz-transition:    all .4s ease-in-out;
		transition:         all .4s ease-in-out;
		-ms-transition:     all .4s ease-in-out;
	}

		/* Is active mobile menu on admin
		---------------------------- */
	.admin-bar .menu-mobile-wrap,
	.admin-bar .menu-mobile-wrap ul {
		margin-top: 32px;
	}
	.menu-mobile-wrap {
		background: #2e3233;
		left: 0;
		z-index: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
	}
	.menu-mobile-wrap,
	.menu-mobile-wrap ul {
		margin: 0;
		width: 0;
		height: 100%;
		list-style: none;
	}
	.menu-mobile-wrap ul {
		width: 100%;
	}
	.menu-mobile-wrap > ul{
		position: fixed;
		top: 0;
		left: 0;
	}
	.menu-mobile-wrap.active > ul{ 
		left: 0;
	}
	.menu-mobile-wrap > ul ul{
		position: fixed;
		top: 0;
		left: 0;
	}
	.menu-mobile-wrap ul ul,
	.menu-mobile-wrap:not(.active) ul ul.is-visible,
	.menu-mobile-wrap > ul.is-hide,
	.menu-mobile-wrap ul ul.is-hide  {
		width: 0;
	}
	.menu-mobile-wrap.active,
	.menu-mobile-wrap ul ul.is-visible {
		width: 100%;
	}
	.menu-mobile-wrap ul li {
		position: relative;
	}
	.menu-mobile-wrap ul li a {
		font-size: 100%;
		font-weight: 400;
		border-bottom: 1px solid #3a3f40;
		padding: 10px;
		display: block;
		color: #fff;
	}
	.menu-mobile-wrap ul .sub-open {
		background: #464c4e;
		display: none;
		height: 24px;
		line-height: 22px;
		position: absolute;
		right: 9px;
		text-align: center;
		bottom: 12px;
		width: 24px;
		cursor: pointer;
	}
	.menu-mobile-wrap ul .children > .sub-open {
		display: block;
	}
	.menu-mobile-wrap ul .menu-back {
		display: none;
	}
	.menu-mobile-wrap ul li.children > ul.is-visible > li:first-child .menu-back {
		display: block;
	}
	.k2t-info .k2t-row [class*="col-"] {
		width: 100%;
		float: none;
		text-align: center;
	}
	.k2t-info .widget_nav_menu {
		text-align: center;
	}
	
	/*----------- 2.4 Mobile element -----------*/
	.k2t-header.header-absolute {
		position: relative;
	}
	.k2t-header-m {
		height: 80px;
	}
	.k2t-header-m > * {
		float: left;
	}
	.k2t-header-m > div {
		line-height: 80px;
	}
	.k2t-header-m > div > * {
		display: inline-block;
		vertical-align: middle;
	}
	.k2t-header-m .k2t-menu-m {
		width: 10%;
	}
	.k2t-header-m .k2t-logo-m {
		display: inline-block;
		width: 80%;
		text-align: center;
	}
	.logo-text {
		margin-bottom: 0;
	}
	.k2t-right-m {
		display: inline-block;
		text-align: center;
		width: 10%;
	}
	.k2t-right-m i {
		color: #999;
	}
	.k2t-right-m:hover i {
		color: #000;
	}
	.k2t-right-m > * {
		display: inline-block;
	}
	.k2t-logo-m .k2t-logo img {
		max-height: 40px;
	}
	.open-sidebar {
		margin: 0;
	}
	.search-box {
		position: relative;
		top: -2px;
	}
	#close-canvas {
		display: none;
	}

	.k2t-body section.container > #main {
		width: 100%;
		clear: both;
		padding-right: 0;
	}
	.right-sidebar .k2t-blog,
	.left-sidebar .k2t-blog,
	.right-sidebar .k2t-main,
	.left-sidebar .k2t-main,
	.k2t-body .k2t-sidebar,
	.archive .k2t-main {
		width: 100% !important;
		padding: 0;
	}

	.k2t-logo-m .k2t-logo {
		margin: auto;
	}
	.k2t-bottom .k2t-row {
		margin: 0 5px;
	}
	.wpcf7 .wpcf7-form > p{
		margin-bottom: 25px;
	}
	.k2t-member .team-avatar {
		height: auto;
	}

	/* Blog */
	.format-video .flx-entry-thumb .wp-video, 
	.format-video .flx-entry-thumb .wp-video .mejs-video, 
	.format-video .flx-entry-thumb video, 
	.format-video .flx-entry-thumb .mejs-overlay, 
	.format-video .flx-entry-thumb iframe, 
	.format-audio .flx-entry-thumb iframe {
		min-height: 200px;
	}

	/* 404 */
	.error-404-left, .error-404-right {
		width: 50%;
	}
	.error-404-right {
		margin: 10px 0;
		padding-left: 5%
	}


	/* Button */
	.k2t-button.align-right, .k2t-button.align-left{
		text-align: center;
		margin-top: 20px;
	}

	/* Footer */
	.k2t-main ul.info-footer {
		text-align: center !important;
	}
	.k2t-footer .k2t-wrap .k2t-row .col-3 {
		width: 50%;
	}
	.k2t-footer .k2t-wrap .k2t-row .col-3:nth-child(3){
		clear: both;
	}
	.k2t-body .k2t-sidebar {
		margin-top: 30px;
	}
}
/*--------------------------------------------------------------
	4. Max Screen 767
--------------------------------------------------------------*/
@media only screen and (max-width: 767px){
	.k2t-right-m .canvas-sidebar {
		display: none;
	}
	.wpcf7 .half-line {
		width: 100%;
		float: none;
	}
	.b-grid .grid-layout[class*="column"] .hentry {
		width: 100%;
	}
	.b-masonry [class*="column-"] .grid-sizer {
		width: 100%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry {
		width: 100%;
	}
	.single-footer-nav a span.tt {
		display: none;
	}
	.single-footer-nav a span:not(.tt) {
		font-size: 100%;
	}
	.hidden-xs {
		display: none;
	}
	.wpcf7 .one-third {
		width: 100%;
	}
	#loader-wrapper {
		display: none;
	}
	.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading {
		background: #3f51b5!important;
	}
	.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading a {
		color: #fff!important;
	}
}
@media only screen (min-width: 768px) {
	.scroll-bottom .k2t-btt {
		width: 50px;
		height: 50px;
		right: 35px;
	}
	.scroll-bottom .k2t-btt i {
		line-height: 50px;
	}
	.k2t-btt:hover {
		right: 35px;
	}
}
/*--------------------------------------------------------------
	5. Screen between 568px to 767px
--------------------------------------------------------------*/
@media only screen and (min-width: 569px) and (max-width: 768px) {
	.vc_row .wpb_column{
		margin-top: 0;
	}
	.vc_row .wpb_column.mobile-nomargin {
		margin-bottom: 0;
	}

	.admin-bar .menu-mobile-wrap,
	.admin-bar .menu-mobile-wrap ul {
		margin-top: 46px;
	}	
	.k2t-bottom .k2t-footer-line {
		display: none;
	}
	.member-box .vc_column_container {
		width: 50%;
		float: left;
	}
}
/*--------------------------------------------------------------
	5. Screen max-width 667px
--------------------------------------------------------------*/
@media (max-width: 667px) {


	#sb_instagram.sbi_col_3 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_5 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_6 #sbi_images .sbi_item{
		width: 33.33%;
	}
	blockquote, q {
		padding: 15px 20px 15px 33px;
	}
	blockquote:after {
		font-size: 35px;
	}

	.k2t-title-bar {
		padding-top: 80px !important;
		padding-bottom: 80px !important;
	}
	/* single blog */
	.related-post-wrap.owl-carousel {
		margin-bottom: 28px;
	}
	
	.b-large .author-meta span {
		display: none;
	}
	.b-large .owl-stage-outer,
	.b-large .owl-carousel {
		margin-bottom: 31px;
	}
	.b-large .more-link {
		margin-bottom: 39px;
	}
	.k2t-navigation {
		margin-bottom: 10px;
	}

	.b-medium .owl-stage-outer,
	.b-medium .owl-carousel {
		margin-bottom: 26px;
	}
	.b-medium .k2t-navigation {
		margin-top: 17px;
	}

	/* blog grid */

	.b-masonry .post-item,
	.b-masonry .owl-carousel,
	.b-masonry .owl-stage-outer {
		margin-bottom: 28px;
	}
	.k2t-blog .grid-layout .post-item,
	.b-grid .owl-carousel,
	.b-grid .owl-stage-outer {
		margin-bottom: 28px;
	}
	.b-grid .k2t-navigation {
		margin-top: 20px;
	}

	/* Footer */
	.k2t-main ul.info-footer {
		text-align: center !important;
	}
	.k2t-footer .k2t-wrap .k2t-row .col-4 {
		width: 100%;
	}
}


/*--------------------------------------------------------------
	7. Max Screen 568px
--------------------------------------------------------------*/
@media only screen and (max-width: 568px){
	/* Container */
	.k2t-row [class*="col-"],
	.row [class*="col-"] {
		width: 100% !important;
		display: inline-block !important;
	}
	div:not(.offcanvas-sidebar) .k2t-sidebar .widget {
		width: 100%;
	}
	.k2t-searchbox form {
		width: 90%;
		margin-left: -45%;
	}
	.k2t-sidebar .widget {
		padding: 20px 0 0 0;
	}
	.k2t-post-share .col-6 {
		margin-bottom: 20px;
	}
	.k2t-social-share {
		text-align: center;
	}
	/* Disable */
	.mobile-disable {
		display: none;
	}
	/* Titlebar */
	.k2t-title-bar {
		text-align: left;
	}
	/* blog */
	.k2t-blog .top-meta > div.categories-list {
		display: block;
		padding-left: 0 !important;
	}
	/* single blog */
	.k2t-blog .related-post .top-meta > a:first-of-type {
		display: inline-block;
	}

	/* blog large */
	.b-large .top-meta .categories-list{
		display: inline-block;
		padding-left: 0 !important;
	}
	.b-large .top-meta .categories-list a:first-child {
		padding-left: 0 !important;
	}
	.b-large .top-meta .categories-list a {
		display: inline-block !important;
	}
	.single-format-quote .top-meta .author-meta > span:first-child {
		display: none;
	}
	.k2t-blog .top-meta > .date-meta:not(:last-child) > :last-child:after {
		display: none;
	}
	.b-large .more-link {
		margin-bottom: 40px;
	}
	.about-author {
		text-align: center;
	}
	.about-author img {
		display: block;
		float: left;
		margin-top: 23px;
		margin-left: 15px;
		margin-bottom: 40px;
	}
	.about-author .author-info {
		float: none;
		padding-left: 195px;
		padding-right: 15px;
		text-align: left;
		width: 100%;
	}

	/* blog medium */
	.b-medium .post .post-inner {
		margin-bottom: 39px;
	}
	.b-medium .post-item .flx-entry-thumb {
		float: none;
		width: 100%;
	}
	.b-medium .k2t-blog .post-item .entry-content {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	.b-medium .audio-post .flx-entry-thumb,
	.b-medium .post-item .flx-entry-thumb a img {
		height: auto;
	}
	.b-medium .top-meta .author-meta span {
		display: none;
	}
	.b-medium  .k2t-blog .top-meta a:first-of-type {
		display: inline-block;
	}
	.b-medium .k2t-blog .top-meta > div:not(:last-child) > :last-child:after {
		display: inline-block;
	}
	.k2t-blog .top-meta > div > :last-child {
		padding-right: 10px;
	}
	.k2t-blog .top-meta > div:not(:first-child) {
		padding-left: 10px;
	}
	.b-medium .k2t-blog .top-meta > a:first-of-type {
		padding-left: 10px;
	}
	/* Heading */
	.k2t-heading.has-border.heading .h::before, .k2t-heading.heading .h::after{
		content: none;
	}
	.k2t-heading.has-border.heading .h span{
		border: none;
		padding: 0;
		text-align: center;
	}

	/* Text */
	.k2t-countdown .ele .unit {
		font-size: 150%;
	}
	.k2t-iconbox.layout-2 > .iconbox-text *, 
	.k2t-iconbox.layout-2 > .iconbox-icon  * {
		text-align: center;
	}

	/* Commnent */
	#commentform > p.comment-form-author, 
	#commentform > p.comment-form-email, 
	#commentform > p.comment-form-url {
		width: 100%;
	}
	.action-link {
		display: none;
	}

	/* 404 */
	.error-404-left, .error-404-right {
		width: 100%;
	}
	.error-404-right {
		margin: 30px 0 0;
		padding-left: 0
	}

	/* Footer */
	.k2t-footer .k2t-info{
		text-align: center;
	}
	.k2t-footer .k2t-bottom {
		padding-top: 20px
	}
	.k2t-bottom .k2t-footer-line {
		display: none;
	}
	.k2t-info .row > div .social {
		text-align: center;
	}

	/* Team Social Link */
	.k2t-member .team-socials-link, .k2t-member .social-media-widget {
		float: none;
		width: 100%;
	}
	.k2t-member .team-socials-link li {
		float: none;
		display: inline-block;
	}

	/* Icons */
	.k2t-icons li {
		width: 100% ! important;
	}

	/* Subscribe Form */
	#frm-subscriptionFront #frm-email {
		width: 200px
	}

	/* Portfolio gallery */
	.portfolio-gallery .isotope-gallery .isotope-selector,
	.portfolio-gallery .isotope-gallery .isotope-selector.width-2 {
		width: 100% ! important
	}

	/* Contact form 7 */
	.wpcf7 .one-third {
		width: 100%;
		margin-right: 0;
	}

	/* Footer */
	.k2t-footer .k2t-wrap .k2t-row > div {
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.course-filter ul li:first-child,
	.course-filter ul li,
	.course-filter ul li:last-child
	{
		width: 100%;
		padding: 0;
	}
	/* author-admin */
	.author-admin .k2t-title-bar {
	margin-bottom: 0;
	padding-bottom: 40px;
	padding-top: 40px;
	}
	.author-admin .k2t-title-bar .main-title,
	.author-admin .k2t-title-bar .author-email {
		padding-left: 10px;
	}
	.author-admin .k2t-title-bar .main-title {
		color: white;
		font-family: 'Roboto';
		font-size: 48px;
		font-weight: 400;
		margin-bottom: 0;
	}
	.author-admin .k2t-title-bar .main-title:after {
		content: '';
	}
	.author-admin .k2t-title-bar .author-email {
		color: white;
		font-size: 18px;
		font-family: 'Roboto';
		font-weight: 300;
	}
	.user-page .user-info-left {
		float:none;
		margin-left: 0;
		margin-top: 40px;
		margin-bottom: 0;
		width: 100%;
	}
	.user-page .user-info-left img {
		display: block;
		margin: 0 auto;
	}
	.user-page .user-info-right {
		margin-bottom: 20px;
	}
	/* k2t-register */ 
	.k2t-register > p {
		text-align: center;
	}
	.searchandfilter ul li input[type='submit'] {
		margin-top: 30px;
	}
	#buddypress .activity-list .activity-content .activity-inner iframe{
		min-height: auto;
	}
}
@media (max-width: 480px) {
	#theme-option {
		display: none;
	}
	/* title-bar */
	.k2t-title-bar .main-title {
		margin-bottom: 40px;
	}
	.k2t-title-bar .main-title {
		bottom: -6px;
	}
	.k2t-title-bar .main-title.length-title {
		font-size: 30px;
	}
	.k2t-title-bar .main-title.middle-title {
		font-size: 35px;
	}
	.k2t-title-bar .main-title.ex-short-title {
		font-size: 40px;
	}
	.k2t-title-bar .main-excerpt,
	.k2t-title-bar .description,
	.k2t-breadcrumbs {
		margin-left: 0;
		padding-left: 0 !important;
	}
	/* single blog */
	.k2t-blog .related-post .top-meta > a:first-of-type {
		padding-left: 0;
	}
	.about-author {
		background-color: #f6f6f6;
		padding-top: 3px;
	}
	.about-author img {
		display: block;
		float: none;
		margin: 40px auto;
	}
	.about-author .author-info {
		padding: 0 15px;
		width: 100%;
	}
	.comment-meta {
		margin-bottom: 15px;
		min-height: 70px;
		padding-top: 19px;
		padding-left: 108px;
	}
	.comment-list .comment-content {
		padding: 15px;
	}
	.comment-list .comment-content {
		margin-left: 0;
	}
	.comment-list img {
		float: left;
		margin-top: 15px;
		margin-left: 15px;
		position: relative;
		z-index: 1;
	}
	.comment-list .children .comment-body {
		padding-left: 10px;
	}
}
/*--------------------------------------------------------------
	7. Max Screen 320px
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
	.offcanvas-sidebar {
		width: 280px;
	}
	.k2t-searchbox input[type="text"] {
		font-size: 178%;
	}
	.k2t-searchbox #searchsubmit {
		font-size: 110%;
		top: -2px;
	}
	.k2t-social-share .social li {
		margin: 5px;
	}
	.wpcf7 .wpcf7-form > p {
		margin-bottom: 15px;
	}
	/* WOOCOMERCE */
	.woocommerce-page.columns-5 ul.products li.product a.button,
	.woocommerce.columns-5 ul.products li.product  a.button {
		padding: 0 15px !important;
	}
	.woocommerce-account .k2t-content .woocommerce {
		padding: 40px 15px;
	}
	/* PORTFOLIO FREE STYLE */

	/*Headings*/

	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}

	#sb_instagram.sbi_col_3 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_5 #sbi_images .sbi_item, 
	#sb_instagram.sbi_col_6 #sbi_images .sbi_item{
		width: 50%;
	}

	.k2t-title-bar .main-excerpt {
		font-size: 100%;
	}
	.k2t-title-bar .main-excerpt .entry-date, .k2t-title-bar .main-excerpt .entry-author {
		margin-right: 15px;
	}
	.single-post-k-event .calendar-import a,
	.single-post-k-event .calendar-import a:first-child {
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}
	.cd-dropdown {
		float: none;
		width: 100%;
	}
	.cd-dropdown ul {
		width: 100%;
	}
	.cd-dropdown ul li {
		width: 100%!important;
	}
	body.search .k2t-main .searchform .form-group input {
		width: 60%;
	}
	body.search .k2t-main .searchform .form-group button {
		width: 40%;
	}
	.entry-box blockquote {
		margin: 20px 0;
		font-size: 100%;
	}
	.woocommerce-page .woocommerce-message {
		padding-bottom: 50px!important;
	}
	.woocommerce .woocommerce-message .button {
		position: absolute;
		bottom: 0;
	}
}
