/**
 * Megamenu stylesheet for Ruby.
 *
 * @package Ruby
 * @author  KingKongThemes
 * @link	http://www.kingkongthemes.com
 */
 .k2t-header .k2t-menu li.k2t-megamenu {
 	position: static;
 }
 .k2t-header .k2t-menu .mega-container {
 	opacity: 0;
 	visibility: hidden;
 	position: absolute;
 	background-color: #fafafa;
 	border: 1px solid #ededed;
 	z-index: -1;
 	width: 1170px;
 	left: 0;
 	right: 0;
 	padding: 16px 30px;
 	margin-left: -50px;
 	-webkit-border-radius: 0 0 3px 3px;
 	-moz-border-radius:    0 0 3px 3px;
 	-ms-border-radius:     0 0 3px 3px;
 	border-radius:         0 0 3px 3px;
 	-webkit-transition: all .4s ease-in-out 0s;
 	-moz-transition:    all .4s ease-in-out 0s;
 	transition:         all .4s ease-in-out 0s;
 }
 .k2t-header .k2t-menu .k2t-megamenu:hover .mega-container,
 .k2t-header .k2t-menu .k2t-megamenu:hover .mega-container ul {
 	opacity: 1;
 	visibility: visible;
 	z-index: 100;
 	margin-left: 0;
 }
 .k2t-header .k2t-menu .mega-container ul {
 	visibility: hidden;
 	opacity: 1;
 	position: static;
 	margin: 0;
 	border: 0;
 	overflow: hidden;
 	font-size: 12px;
 	background: none;
 }
 .k2t-header .k2t-menu .mega-container > ul {
 	width: 100%;
 	display: table;
 	table-layout: fixed;
 	visibility: hidden;
 }
 .k2t-header .k2t-menu .mega-container > ul > li {
 	max-width: 257px;
 	margin: 0 10px;
 	display: table-cell;
 	vertical-align: top;
 }
 .k2t-header .k2t-menu .mega-container > ul > li a {
 	border: 0;
 }
 .k2t-header .k2t-menu .mega-container .k2t-megamenu-submenu > a {
 	font-size: 14px;
 	color: #505050;
 	padding: 0;
 	font-weight: 700;
 	text-transform:uppercase;
 	margin: 0 0 15px;
 	visibility: hidden;
 	letter-spacing:1px;
 }
 .k2t-header .k2t-menu li:hover .mega-container .k2t-megamenu-submenu > a {
 	visibility: visible;
 }
 .k2t-header .k2t-menu .mega-container li.children > a:after,
 .k2t-header-top .k2t-menu .mega-container a:before {
 	display: none;
 }
 .k2t-header .k2t-menu .mega-container .sub-menu li a {
 	margin: 0 0 15px;
 	padding: 0;
 	font-size:12px;
 }
 .k2t-header .k2t-header-top .k2t-menu .mega-container {
 	background: #fff;
 	border-color: #ddd;
 }
 .k2t-header-top .k2t-menu .mega-container li ul li a:hover {
 	background: none;
 }