/**
* The stylesheet for displaying on mobile device.
*
* @package Ruby
* @author  KingKongThemes
* @link	http://www.kingkongthemes.com
*/

@media only screen and (max-width: 1024px), (max-device-width: 1024px) {
	.k2t-right-m .search-box{
		margin: 15px;
	}
	.k2t-container {
		width: 100%;
	}
	.k2t-header > *:not(.k2t-header-m) {
		display: none;
	}
	.k2t-header-m {
		display: inline-block;
		position: fixed;
		z-index: 1000;
		width: 100%;
		background: #fff;
		top: 0;
	}
	body.vertical{
		padding-left: 0;
	}
	.vertical-menu > div{
		position: relative;
	}
	/*--------------------------------------------------------------
	Menu
	--------------------------------------------------------------*/
	.m-trigger {
		height: 30px;
		width: 30px;
		z-index: 100;
		position: relative;
		display: inline-block;
		top:10px;
		margin:0 5px;
		cursor: pointer;
	}
	.m-trigger:hover span,
	.m-trigger:hover span:before,
	.m-trigger:hover span:after {
		background-color: #ffbe2a
	}
	.m-trigger span,
	.m-trigger span:before,
	.m-trigger span:after {
		background-color: #767676;
		content: "";
		display: block;
		height: 3px;
		width: 14px;
	}
	.m-trigger span {
		left: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform:    translate(-50%, -50%);
		-ms-transform:     translate(-50%, -50%);
		-o-transform:      translate(-50%, -50%);
		transform:         translate(-50%, -50%);
	}
	.m-trigger span:before {
		margin-top: -5px;
		position: absolute;
	}
	.m-trigger span:after {
		margin-top: 5px;
		position: absolute;
	}
	.m-trigger.open span {
		background-color: transparent;
		left: 54%;
	}
	.m-trigger.open span:before,
	.m-trigger.open span:after {
		width: 14px;
		-webkit-transform: rotate(45deg);
		-moz-transform:    rotate(45deg);
		-ms-transform:     rotate(45deg);
		-o-transform:      rotate(45deg);
		transform:         rotate(45deg);
		-webkit-transform-origin: 0 50%;
		-ms-transform-origin:     0 50%;
		transform-origin:         0 50%;
	}
	.m-trigger.open span:after {
		-webkit-transform: rotate(-45deg);
		-moz-transform:    rotate(-45deg);
		-ms-transform:     rotate(-45deg);
		-o-transform:      rotate(-45deg);
		transform:         rotate(-45deg);
	}
	body {
		right: auto;
		left: 0;
	}
	body.nav-is-visible {
		left: 260px;
	}
	.nav-is-hide,
	.menu-mobile-wrap,
	.menu-mobile-wrap ul,
	.k2t-menu-m .menu,
	.k2t-menu-m .menu ul {
		-webkit-transition: all .4s ease-in-out;
		-moz-transition:    all .4s ease-in-out;
		transition:         all .4s ease-in-out;
	}
	/* Is active mobile menu on admin */
	.admin-bar .menu-mobile-wrap,
	.admin-bar .menu-mobile-wrap ul {
		margin-top: 32px;
	}
	.menu-mobile-wrap {
		background: #2e3233;
		left: -260px;
		z-index: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
	}
	.menu-mobile-wrap,
	.menu-mobile-wrap ul {
		margin: 0;
		width: 260px;
		height: 100%;
		list-style: none;
	}
	.menu-mobile-wrap > ul{
		position: fixed;
		top: 0;
		left: -260px;
	}
	.menu-mobile-wrap.active > ul{ 
		left: 0;
	}
	.menu-mobile-wrap > ul ul{
		position: fixed;
		top: 0;
		left: 0;
	}
	.menu-mobile-wrap ul ul,
	.menu-mobile-wrap:not(.active) ul ul.is-visible,
	.menu-mobile-wrap > ul.is-hide,
	.menu-mobile-wrap ul ul.is-hide  {
		left: -260px;
	}
	.menu-mobile-wrap.active,
	.menu-mobile-wrap ul ul.is-visible {
		left: 0;
	}
	.menu-mobile-wrap ul li {
		position: relative;
	}
	.menu-mobile-wrap ul li a {
		font-size: 14px;
		font-weight: 400;
		border-bottom: 1px solid #3a3f40;
		padding: 10px;
		display: block;
		color: #fff;
	}
	.menu-mobile-wrap ul .sub-open {
		background: #464c4e;
		display: none;
		height: 24px;
		line-height: 22px;
		position: absolute;
		right: 9px;
		text-align: center;
		bottom: 12px;
		width: 24px;
		cursor: pointer;
	}
	.menu-mobile-wrap ul .children > .sub-open {
		display: block;
	}
	.menu-mobile-wrap ul .menu-back {
		display: none;
	}
	.menu-mobile-wrap ul ul li:first-child .menu-back {
		display: block;
	}
	/* No active mobile menu */
	.admin-bar .k2t-menu-m div.menu {
		margin-top: 32px;
	}
	.k2t-menu-m > div.menu {
		background: #2e3233;
		left: -260px;
		z-index: 0;
		overflow: hidden;
		height: 100vh;
		position: fixed;
		margin: 0;
		width: 260px;
		top: 0;
	}
	.k2t-menu-m div.menu > ul{
		overflow-y: auto;
		height: 100vh;
	}
	.k2t-menu-m div.menu ul {
		margin: 0;
		width: 260px;
		list-style: none;
	}
	.k2t-menu-m div.menu ul ul.children{
		height: 0;
		display: none;
	}
	.k2t-menu-m div.menu ul ul,
	.k2t-menu-m div.menu:not(.active) ul ul.is-visible,
	.k2t-menu-m div.menu > ul.is-hide,
	.k2t-menu-m div.menu ul ul.is-hide  {
		left: -260px;
	}
	.k2t-menu-m div.menu.active,
	.k2t-menu-m div.menu ul ul.is-visible {
		left: 0;
	}
	.k2t-menu-m div.menu ul li {
		position: relative;
	}
	.k2t-menu-m div.menu ul li a {
		font-size: 14px;
		font-weight: 400;
		border-bottom: 1px solid #3a3f40;
		padding: 10px;
		display: block;
		color: #fff;
	}
	.k2t-menu-m div.menu ul .sub-open {
		background: #464c4e;
		display: none;
		height: 24px;
		line-height: 22px;
		position: absolute;
		right: 9px;
		text-align: center;
		bottom: 12px;
		width: 24px;
		cursor: pointer;
	}
	.k2t-menu-m div.menu ul .children > .sub-open {
		display: block;
	}
	.k2t-menu-m div.menu ul .menu-back {
		display: none;
	}
	.k2t-menu-m div.menu ul ul li:first-child .menu-back {
		display: block;
	}
	.k2t-header-m > div {
		width: 33.3%;
		float: left;
	}
	.k2t-header-m .k2t-logo-m {
		text-align: center;
	}
	.k2t-header-m > div:not(.k2t-logo-m) {
		margin-top: 18px;
	}
	.k2t-header-m > .k2t-logo-m .k2t-logo {
		margin: 20px 0 !important;
	}
	.k2t-right-m {
		text-align: right;
	}
	.k2t-right-m > * {
		display: inline-block;
	}
	.k2t-subscribe .newsletter .newsletter-email,
	.home-subcribe-form .newsletter .newsletter-email {
		width: 300px;
	}
	/* LANDING - RUBY 2 */
	.home-landing .hidden-tablet {
		display: none;
	}
	.home-landing .vc_col-sm-3 {
		width: 50%;
	}
	.k2t-padding {
		padding: 0 15px;
	}
	/* HOME EDUCATION */
	.home-edu-iconbox .vc_col-sm-3:first-child {
		margin-top: -280px !important;
	}
	/* HOME BUSINESS */
	.k2t-padding.home-business-iconbox .vc_col-sm-6:first-child {
		width: 100%;
		padding-top: 100px;
	}
	/* HOME MORDEN */
	.home-morden-about {
		padding-left: 15px;
		padding-right: 15px;
	}
	.home-morden-about .vc_col-sm-3,
	.home-morden-about .vc_col-sm-9 {
		width: 50%;
	}
	/* HOME CREATIVE */
	.home-creative-iconbox .vc_col-sm-6 .vc_col-sm-4 {
		width: 100%;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_col-sm-4 .layout-1 .iconbox-icon {
		margin-bottom: 0;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_col-sm-4:first-child .layout-1 {
		margin-bottom: 15px !important;
	}
	.home-creative-iconbox .vc_col-sm-6:last-child .vc_row,
	.home-creative-iconbox .vc_col-sm-6:last-child .wpb_content_element {
		margin-bottom: 0;
	}
	.home-creative-iconbox .k2t-iconbox.layout-1.align-left .iconbox-icon {
		float: none;
		text-align: center;
	}
	.home-creative-iconbox .k2t-iconbox.layout-1.align-left .iconbox-text {
		text-align: center;
	}
	/* HOME SHOP */
	.home-shop-slide .vc_col-sm-4 article.wpb_single_image:first-child {
		margin-bottom: 4px !important;
	}
	/* ONE PAGE */
	.onepage-works .vc_col-sm-3 .wpb_content_element {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	/* ABOUT ME */
	.about-me-intro {
		padding-right: 15px !important;
	}
	.about-me-intro .vc_col-sm-6 .vc_col-sm-8 {
		width: 100%;
	}
	.about-me-intro .vc_col-sm-6 .vc_col-sm-4 {
		display: none;
	}
	/* PORTFOLIO FREE STYLE */
	.isotope-gallery .isotope-selector,
	.isotope-gallery .isotope-selector.width-2 {
		width: 33.33% !important;
	}
}
@media only screen and (max-width: 800px) and (max-device-width: 800px) {
	.k2t-right-m .search-box{
		margin: 15px;
	}
	.right-sidebar .k2t-blog,
	.left-sidebar .k2t-blog,
	.right-sidebar .k2t-main,
	.left-sidebar .k2t-main,
	.k2t-body .k2t-sidebar,
	.k2t-body .k2t-sidebar-sub,
	.two-sidebars .k2t-blog,
	.two-sidebars .k2t-btc,
	.archive .k2t-main {
		width: 100% !important;
	}
	div:not(.offcanvas-sidebar) .k2t-sidebar .widget,
	.k2t-sidebar-sub .widget,
	.k2t-bottom .k2t-row [class*="col-"] {
		width: 50%;
		float: left;
		padding-left: 15px;
	}
	.k2t-bottom .col-3 {
		min-height: 300px;
	}
	.b-masonry [class*="column-"] .grid-sizer {
		width: 50%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry {
		width: 48%;
	}
	.k2t-logo-m .k2t-logo {
		margin: auto;
	}
	.k2t-bottom .k2t-row {
		margin: 0 5px;
	}
	.k2t-title-bar > .k2t-wrap {
		padding: 0 20px;
	}
	.single .k2t-content,
	.blog .k2t-content,
	.archive .k2t-content,
	.k2t-info {
		padding: 20px;
	}
	.right-sidebar .k2t-blog,
	.left-sidebar .k2t-blog,
	.left-sidebar .k2t-main,
	.k2t-main,
	.k2t-sidebar .widget:nth-child(2n),
	.k2t-sidebar-sub .widget:nth-child(2n),
	.two-sidebars .k2t-sidebar,
	.k2t-sidebar-sub,
	.b-masonry.fullwidth .k2t-wrap {
		padding: 0;
	}
	.k2t-sidebar .widget,
	.k2t-sidebar-sub .widget {
		padding-right: 15px;
	}
	.k2t-content.b-timeline .k2t-blog {
		padding: 20px 0;
	}
	.b-timeline .tl-author:before,
	.b-timeline .tl-author:after {
		display: none;
	}
	.wpcf7 .wpcf7-form > p{
		margin-bottom: 25px;
	}
	/* HOME1 */
	.vc_row.vc_custom_1422626085398,
	.vc_row.vc_custom_1422288391060 {
		padding-top: 60px !important;
	}
	.wpb_column.vc_custom_1416123897329 {
		padding-right: 30px !important;
	}
	.wpb_column.vc_custom_1425310255774 {
		padding-left: 30px !important;
	}
	.wpb_column.vc_custom_1424941181188 {
		padding-top: 0 !important;
	}
	.home-purchase .vc_col-sm-8 .wpb_content_element {
		padding-top: 13px !important;
	}
	.home-purchase .vc_col-sm-8 .wpb_content_element h2 {
		font-size: 20px;
	}
	.home1-process .image-link {
		display: block;
		margin-top: 140px;
	}
	/* HOME BUSINESS */
	.vc_row.vc_custom_1425100523490 {
		padding: 30px 15px 30px !important;
	}
	.vc_row.vc_custom_1422399805781 {
		padding: 0 15px;
	}
	.k2t-btn.btn-no-content {
		margin-top: 0 !important;
	}
	.vc_row.vc_custom_1422555699620 {
		padding-top: 15px !important;
	}
	.vc_row.vc_custom_1422400730165 {
		padding: 0 15px;
	}
	.vc_custom_1422554317325 .vc_col-sm-6 {
		width: 100%;
	}
	.k2t-padding.home-business-iconbox .vc_col-sm-6:first-child {
		width: 100%;
		padding-top: 30px;
		padding-right: 30px;
		padding-bottom: 50px;
	}
	.home-business-intro .k2t-heading .subtitle {
		text-align: right;
	}
	/* HOME CREATIVE */
	.home-creative-slider {
		padding-bottom: 10px !important;
	}
	.vc_row.home-creative-testimonial {
		padding: 85px 15px !important;
	}
	.k2t-swiper-slider:hover .k2t-swiper-navi a.next {
		text-align: center;
	}
	.home-creative-team .k2t-member.style-2 .text-inner {
		padding: 15px;
	}
	.home-creative-team .k2t-member .name-role {
		margin: 0 0 10px;
	}
	.home-creative-team .k2t-member .name {
		font-size: 13px;
	}
	.home-creative-team .k2t-member.style-2 .text .desc {
		padding: 0 10px;
		font-size: 11px;
	}
	.vc_row.home-creative-features {
		padding: 0 15px;
	}
	.k2t-blog-post-2 .post-thumb .post-content time {
		text-align: center;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_custom_heading h2 {
		font-size: 30px !important;
	}
	.home-creative-iconbox .vc_col-sm-6:last-child {
		padding: 50px 15px 50px 30px !important;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_col-sm-4 {
		width: 100%;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_col-sm-4 .layout-1 .iconbox-icon {
		margin-bottom: 0;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_col-sm-4 .layout-1 .iconbox-icon i {
		line-height: 49px;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_col-sm-4:first-child .layout-1 {
		margin-bottom: 15px !important;
	}
	.home-creative-iconbox .vc_col-sm-6:last-child .vc_row,
	.home-creative-iconbox .vc_col-sm-6:last-child .wpb_content_element {
		margin-bottom: 0;
	}
	.vc_row.home-creative-background-video {
		padding-top: 100px !important;
		padding-bottom: 100px !important;
	}
	.home-creative-background-video #tubular-container iframe {
		top: 0;
		left: 0;
	}
	/* HOME MORDEN */
	.vc_row.home-morden-features {
		padding: 0 15px;
	}
	.home-morden-about .vc_col-sm-3 {
		padding-left: 30px;
		text-align: left; 
	}
	.vc_row.home-morden-step {
		padding: 0 15px;
	}
	.home-morden-statics .vc_col-sm-4,
	.home-morden-statics .vc_col-sm-8 {
		width: 100%;
		padding: 100px 25px !important
	}
	.home-morden-statics .k2t-heading.align-right {
		text-align: center;
	}
	.home-morden-statics .k2t-heading.has-border.align-right.short_line .text .h {
		color: #fff;
	}
	.home-morden-statics .k2t-heading.has-border.align-right.short_line .text .h:before {
		right: 50%;
		margin-right: -15px;
		background: #fff;
	}
	.home-morden-statics .desc {
		text-align: center !important;
	}
	.home-morden-statics .k2t-button.align-right {
		text-align: center;
	}
	.home-morden-statics .vc_col-sm-8 { 
		padding-bottom: 100px;
	}
	/* HOME SHOP 1 */
	.home-shop1-intro .image-link {
		padding-top: 100px;
		display: block;
	}
	.home-shop1-intro .vc_custom_heading h2 {
		font-size: 25px !important;
	}
	.home-shop1-intro .vc_col-sm-4 {
		width: 50%;
	}
	.k2t-subscribe h4,
	.home-subcribe-form .k2t-heading .h {
		font-size: 20px !important;
		margin: 8px 0 0 15px;
	}
	.k2t-subscribe .newsletter .newsletter-email,
	.home-subcribe-form .newsletter .newsletter-email {
		width: 210px;
	}
	.k2t-subscribe .newsletter .newsletter-submit,
	.home-subcribe-form .newsletter .newsletter-submit {
		padding: 0 20px;
	}
	.home-shop2-woocommerce .woocommerce.columns-5 ul.products li.product {
		width: 48%;
	}
	/* HOME SHOP 2 */
	.custom-bg {
		padding-bottom: 20px;
	}
	.custom-bg .vc_custom_heading {
		margin-top: 20px !important;
	}
	.vc_row.home-shop2-features {
		padding: 0 15px;
	}
	/* HOME SHOP */
	.home-shop-slide .vc_col-sm-8 {
		width: 75%;
	}
	.home-shop-slide .vc_col-sm-8 .vc_carousel-slideline {
		width: 1200px !important;
	}
	.home-shop-slide .vc_col-sm-4 {
		width: 25%;
		padding-left: 0 !important;
	}
	.home-shop-slide .vc_col-sm-4 article.wpb_single_image:first-child {
		margin-bottom: 4px !important;
	}
	/* HOME GYM */
	.home-gym-promo .custom-h {
		height: auto;
		padding-top: 38px;
	}
	.home-gym-promo .wpb_content_element {
		margin-bottom: 0;
	}
	.home-gym-promo .custom-h .container {
		display: none;
	}
	/* HOME EDUCATION */
	.home-edu-slide .vc_custom_heading h3 {
		font-size: 45px !important;
	}
	.home-edu-slide .vc_custom_heading h2 {
		font-size: 55px !important;
	}
	.home-edu-iconbox .vc_col-sm-3:first-child {
		margin-top: -345px !important;
	}
	.home-edu-iconbox .vc_col-sm-3:last-child {
		padding-bottom: 60px !important;
	}
	.home-edu-iconbox .vc_col-sm-3:first-child #title-event h4 {
		font-size: 22px !important;
	}
	.home-edu-intro {
		padding: 20px 15px 0 !important;
	}
	.home-edu-intro a.image-link {
		display: block;
		margin-top: 185px;
	}
	.home-edu-intro .vc_custom_heading h4 {
		font-size: 20px !important;
	}
	/* HOME PORTFOLIO */
	.vc_row .home-portfolio-row {
		padding: 0 15px;
	}
	/* HOME SPA1-2 */
	.home-spa1-subscribe #sK5Lzkf87Q {
		padding: 0 15px;
	}
	.home-spa1-subscribe .newsletter .newsletter-email {
		width: 186px;
		padding: 0 20px;
	}
	.home-spa2-intro {
		padding: 0 15px;
	}
	.home-spa2-intro .home-spa2-intro-iconbox .vc_col-sm-6 {
		width: 100%;
		margin-bottom: 25px;
	}
	.home-spa2-content-intro .wpb_content_element {
		padding-top: 70px;
	}
	/* ONEPAGE */
	.vc_row.align-left .vc_col-sm-6:last-child {
		text-align: left;
	}
	.onepage-works .vc_col-sm-3 h2 {
		font-size: 20px !important;
	}
	.onepage-works .vc_col-sm-3 .wpb_content_element {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.onepage-works .vc_col-sm-3 .k2t-btn.btn-pill.btn-no-content {
		padding: 0 20px;
	}
	/* LANDING - RUBY 2 */
	.home-landing .hidden-tablet {
		display: none;
	}
	.home-landing .vc_col-sm-3 {
		width: 50%;
	}
	/* UNDER CONSTRUCTION */
	.k2t-main .under-construction a {
		text-align: center;
	}
	/* ABOUT ME */
	.about-me-intro .vc_col-sm-6:last-child .vc_col-sm-8 {
		width: 100%;
	}
	.about-me-intro .vc_col-sm-6:last-child .vc_col-sm-4 {
		display: none;
	}
	/* CONTACT2 */
	.k2t-main .contact2-form .k2t-heading .text {
		text-align: center;
	}
	/* BLOG */
	.page-template-blog-small-full .k2t-featured-post {
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-template-blog-small-full .k2t-content main.k2t-blog,
	.page-template-blog-medium .k2t-content main.k2t-blog {
		padding-left: 15px;
		padding-right: 15px;
	}
	/* PORTFOLIO */
	.k2t-portfolio-shortcode h2.title {
		font-size: 18px;
	}
	/* WOOCOMERCE */
	.woocommerce-page.columns-5 ul.products li.product,
	.woocommerce.columns-5 ul.products li.product {
		width: 48% !important;
	}
	.woocommerce-account .k2t-content .woocommerce {
		width: auto;
	}
	/* FOOTER */
	.footer-v3-menu {
		padding: 0 15px;
	}
	.k2t-main ul.info-footer {
		text-align: center !important;
	}
	/* PAGE SERVICES */
	.k2-main .page-services-iconbox .k2t-heading .text,
	.k2-main .page-service-pricing-table .k2t-heading .text {
		text-align: center;
	}
	.page-services-mobile .vc_col-sm-6 .entry-image {
		padding-top: 115px;
		padding-bottom: 115px;
	}
	.page-services-icon .vc_col-sm-6 .entry-image {
		padding-bottom: 100px;
	}
}
@media only screen and (min-width: 569px) and (max-width: 767px) {
	.k2t-right-m .search-box{
		margin: 15px;
	}
	.admin-bar .menu-mobile-wrap,
	.admin-bar .menu-mobile-wrap ul {
		margin-top: 46px;
	}
	/* HOME */
	.k2t-bottom .col-3 {
		min-height: 330px;
	}
	.article.iphone-black {
		position: inherit;
	}
	.home1-process.k2t-padding {
		padding-bottom: 100px !important;
	}
	.home-intro .vc_col-sm-4 {
		margin-bottom: 60px;
	}
	/* HOME CREATIVE */
	.home-creative-iconbox .vc_col-sm-6:first-child {
		height: 500px !important;
	}
	.vc_row.home-creative-features .vc_col-sm-4 {
		margin-bottom: 60px;
	}
	.vc_row.home-creative-features .vc_col-sm-4:last-child {
		margin-bottom: 0;
	}
	/* HOME EDUCATION */
	.home-edu-iconbox .vc_col-sm-3:first-child {
		margin-top: 0px !important;
	}
	/* HOME MORDEN */
	.home-morden-about .vc_col-sm-3,
	.home-morden-about .vc_col-sm-9 {
		width: 100%;
		text-align: center;
	}
	/* LANDING - RUBY 2 */
	.home-landing {
		padding: 0 15px 100px;
	}
	.home-landing .vc_col-sm-3 {
		width: 100%;
	}
	.iphone-hand .vc_col-sm-6:last-child {
		padding-left: 15px !important;
	}
	.landing-subscribe .k2t-button.align-right {
		text-align: center !important;
		margin-bottom: 15px !important;
	}
	.landing-subscribe .k2t-button.align-left {
		margin-right: 0;
	}
	/* HOME SHOP */
	.home-shop-slide .vc_col-sm-8 {
		width: 100%;
	}
	.home-shop-slide .vc_col-sm-4 {
		width: 100%;
		padding-left: 0 !important;
	}
	.home-shop-slide .vc_col-sm-4  .article.isotope-selector {
		width: 50% !important;
	}
	/* ONEPAGE */
	.onepage-slide .vc_custom_heading h3 {
		font-size: 22px !important;
		white-space: nowrap;
	}
	.onepage-about .k2t-button.align-left {
		text-align: center;
		margin-right: 0;
	}
	.vc_row.align-left .vc_col-sm-6 .k2t-button.align-right,
	.vc_row.align-left .vc_col-sm-6 .k2t-button.align-left,
	.vc_row.align-left .vc_col-sm-6:last-child {
		text-align: center !important;
		margin-right: 0;
	}
	.badge.k2t-padding .k2t-button.align-right,
	.badge.k2t-padding .k2t-button.align-left {
		text-align: center !important;
		margin-right: 0;
	}
	#contact .wpb_content_element p span {
		font-size: 12px !important;
	}
	/* PAGE SERVICES */
	.page-services-intro .entry-image {
		padding-bottom: 50px;
	}
	.page-services-icon .entry-image {
		padding-bottom: 0px;
	}
	.page-services-mobile .entry-image { 
		padding-top: 30px;
		padding-bottom: 60px;
	}
	.page-services-intro .k2t-button.align-left {
		text-align: center;
	}
	.page-services-mobile .k2t-button.align-right {
		text-align: center;
	}
	.page-services-intro .k2t-heading .text,
	.page-services-mobile .k2t-heading .text,
	.page-services-icon .k2t-heading .text {
		text-align: center;
	}
	.page-services-icon {
		padding-bottom: 80px;
	}
	.page-services-icon .vc_col-sm-6:last-child {
		padding-left: 15px;
	}
	.admin-bar .menu-mobile-wrap,
	.admin-bar .menu-mobile-wrap ul {
		margin-top: 0;
	}
	/* ABOUT ME */
	.about-me-intro .vc_col-sm-6:last-child {
		padding-left: 25px !important;
		padding-bottom: 65px;
	}
	.about-me-intro .vc_custom_heading h2 {
		text-align: center !important;
	}
	.about-me-work .vc_col-sm-6:last-child {
		padding-top: 65px;
	}
	/* PORTFOLIO FREE STYLE */
	.isotope-gallery .isotope-selector,
	.isotope-gallery .isotope-selector.width-2 {
		width: 50% !important;
	}
}
@media only screen and (max-width: 568px) and (max-device-width: 568px) {
	.k2t-right-m .search-box{
		margin: 15px;
	}
	.k2t-body{
		margin-top: 75px;
	}
	div:not(.offcanvas-sidebar) .k2t-sidebar .widget,
	.k2t-sidebar-sub .widget, .k2t-bottom .k2t-row [class*="col-"],
	.b-medium .k2t-thumb,
	.b-small .k2t-thumb,
	.k2t-post-share .col-6 {
		width: 100%;
	}
	.b-small .category-featured .k2t-thumb,
	.b-small .k2t-thumb {
		max-width: 100%;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry.large {
		width: 98%;
	}
	.k2t-searchbox form {
		width: 90%;
		margin-left: -45%;
	}
	.k2t-sidebar .widget,
	.k2t-sidebar-sub .widget,
	.b-medium .k2t-entry,
	.b-small .k2t-entry {
		padding: 0;
	}
	.k2t-post-share .col-6,
	.b-medium .k2t-thumb,
	.b-small .k2t-thumb {
		margin-bottom: 20px;
	}
	.b-medium .k2t-entry,
	.b-small .k2t-entry {
		overflow: visible;
	}
	.b-medium .k2t-thumb,
	.b-small .k2t-thumb,
	.k2t-social-share {
		text-align: center;
	}
	.b-medium .k2t-thumb .mask,
	.b-small .k2t-thumb .mask {
		width: 280px;
		left: 50%;
		margin-left: -140px;
	}
	.b-small .k2t-featured-post .k2t-thumb .mask {
		width: 420px;
		margin-left: -210px;
	}
	/* HOME1 */
	.home-slide .heading-handwriting-store,
	.home-slide .heading-handwriting-store b {
		font-size: 48px !important;
	}
	.home-slide .homemaintextsmall {
		font-size: 13px !important;
		white-space: normal !important;
	}
	.home-slide .home-main-slider-text,
	.home-slide .home-main-slider-text1 {
		left: 0 !important;
	}
	.vc_row.vc_custom_1422626295056,
	.vc_row.vc_custom_1422625955004,
	.vc_row.vc_custom_1422288391060,
	.vc_row.vc_custom_1423653148125,
	.vc_row.vc_custom_1422625979318,
	.vc_row.vc_custom_1422626002640,
	.vc_row.vc_custom_1422626059116 {
		padding: 0 15px;
	}
	.vc_row.vc_custom_1422284804382 {
		padding: 0 15px;
		text-align: center;
	}
	.wpb_column.vc_custom_1416123897329 {
		padding-right: 0 !important;
	}
	.wpb_column.vc_custom_1425310255774 {
		padding-left: 0 !important;
	}
	.home-intro .vc_col-sm-4 {
		margin-bottom: 60px;
	}
	.article.iphone-black {
		position: inherit;
	}
	.vc_custom_1422555699620 {
		padding: 40px 15px 15px !important;
	}
	.k2t-heading.align-right.short_line {
		text-align: center;
	}
	.k2t-heading.has-border.align-right.short_line .text .h:before {
		left: 50%;
		margin-left: -15px;
	}
	.home-purchase .vc_col-sm-8 .wpb_content_element {
		padding-bottom: 20px;
	}
	.home1-process.k2t-padding {
		padding-bottom: 100px !important;
	}
	.home1-process .image-link {
		margin-top: 0;
	}
	/* HOME BUSINESS */
	.vc_custom_1422419610466 .wpb_text_column.wpb_content_element {
		text-align: center;
		padding-right: 15px !important;
		padding-left: 15px !important; 
	}
	.vc_custom_1422419610466 .wpb_text_column.wpb_content_element p {
		text-align: center !important;
	}
	.vc_custom_1422419610466 .k2t-button.align-right {
		text-align: center !important;
		margin-bottom: 60px !important;
	}
	a#wxlBPWThvb {
		margin-top: 15px;
	}
	.home-business-intro .vc_col-sm-6:first-child {
		margin-bottom: 60px;
	}
	.home-business-intro .k2t-heading .subtitle {
		text-align: center;
	}
	.home-business-intro .wpb_content_element p,
	.home-business-intro .k2t-button.align-right {
		text-align: center !important;
	}
	/* HOME CREATIVE */
	.home-creative-iconbox .vc_col-sm-6:first-child {
		height: 500px !important;
	}
	.home-creative-testimonial .vc_col-sm-6:nth-child(2) {
		margin-top: 80px;
	}
	.home-creative-team .k2t-member.style-2 .text-inner {
		padding: 40px;
	}
	.home-creative-team .k2t-member .name-role {
		margin: 0 0 15px;
	}
	.home-creative-team .k2t-member .name {
		font-size: 14px;
	}
	.home-creative-team .k2t-member.style-2 .text .desc {
		padding: 0;
		font-size: 14px;
	}
	.k2t-swiper-navi a {
		text-align: center !important;
	}
	.home-creative-iconbox .vc_col-sm-6 .vc_custom_heading h2 {
		font-size: 20px !important;
	}
	.vc_row.home-creative-background-video {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		padding-left: 15px;
	}
	/* HOME MORDEN */
	.home-morden-about .vc_col-sm-3,
	.home-morden-about .vc_col-sm-9 {
		width: 100%;
		text-align: center;
	}
	.home-morden-about .vc_col-sm-3 {
		padding: 0 30px; 
	}
	.home-morden-about  .k2t-heading.align-left {
		text-align: center;
	}
	.k2t-heading.has-border.align-left.short_line .text .h:before {
		left: 50%;
		margin-left: -15px;
	}
	.home-morden-statics .k2t-heading.has-border.align-right.short_line .text .h {
		font-size: 25px;
	}
	.home-morden-statics .k2t-heading .h {
		font-size: 16px;
	}
	.home-morden-features .vc_col-sm-4 {
		margin-bottom: 40px;
	}
	.home-morden-features .vc_col-sm-4:last-child {
		margin-bottom: 0;
	}
	.k2t-main .home-morden-about .image-link {
		text-align: center;
	}
	/* HOME SHOP 1 */
	.home-shop1-intro {
		padding: 0 15px 50px;
	}
	.home-shop1-intro .image-link {
		padding-top: 50px;
		display: block;
	}
	.home-shop1-intro .vc_custom_heading h2 {
		font-size: 20px !important;
	}
	.home-shop1-intro .vc_col-sm-4 {
		width: 100%;
	}
	.k2t-subscribe .col-6 {
		width: 100%;
	}
	.k2t-subscribe .k2t-row h4 {
		font-size: 17px;
		text-align: center;
	}
	.home-subcribe-form .k2t-heading .h {
		font-size: 17px !important;
		margin: 0;
		text-align: center;
	}
	.home-subcribe-form .k2t-heading.short_line {
		text-align: center;
	}
	.k2t-subscribe .newsletter .newsletter-email,
	.home-subcribe-form .newsletter .newsletter-email  {
		width: 280px;
		margin: 20px;
	}
	.k2t-subscribe .newsletter .newsletter-submit,
	.home-subcribe-form .newsletter .newsletter-submit {
		padding: 0 30px;
		margin: 0 85px;
	}
	.home-shop1-woocommerce .wpb_content_element.wpb_tabs.solid .wpb_tabs_nav li {
		margin-right: 2px;
	}
	.home-shop1-woocommerce .product-tab.wpb_tabs .wpb_tabs_nav li a {
		padding: 10px 10px;
	}
	/* HOME SHOP 2 */
	.home-shop2-slide .vc_custom_heading h2 {
		font-size: 60px !important;
		line-height: 1.2;
	}
	.home-shop2-slide .vc_custom_heading h4 {
		font-size: 12px;
		white-space: nowrap;
	}
	.home-shop2-slide .k2t-button.align-right {
		text-align: center;
	}
	.home-shop2-slide .k2t-button.align-left {
		margin-right: 0;
	}
	.custom-bg {
		padding-bottom: 20px;
	}
	.custom-bg .vc_custom_heading {
		margin-top: 20px !important;
	}
	.vc_row.home-shop2-features {
		padding: 0 15px;
	}
	.home-shop2-promo .custom-img {
		position: inherit;
	}
	.home-shop2-promo .custom-img  .image-link {
		text-align: center;
	}
	.home-shop2-promo #ab-text,
	.home-shop2-promo .ab-heading {
		left: 160px;
	}
	/* HOME SHOP */
	.home-shop-products .woocommerce a.button {
		padding: 0 15px;
	}
	.home-shop-slide .vc_col-sm-8 {
		width: 100%;
	}
	.home-shop-slide .vc_col-sm-4 {
		width: 100%;
		padding-left: 0 !important;
	}
	.home-shop-slide .vc_col-sm-4 article.wpb_single_image:first-child {
		margin-bottom: 0 !important;
	}
	/* HOME EDUCATION */
	.home-edu-slide .vc_custom_heading h3 {
		font-size: 30px !important;
	}
	.home-edu-slide .vc_custom_heading h2 {
		font-size: 45px !important;
	}
	.home-edu-iconbox .vc_col-sm-3:first-child {
		margin-top: 0px !important;
	}
	.home-edu-iconbox .vc_col-sm-3:last-child {
		padding-bottom: 60px;
	}
	.home-edu-iconbox .vc_col-sm-3:first-child #title-event h4 {
		font-size: 22px !important;
	}
	.home-edu-intro {
		padding: 20px 15px 80px !important;
	}
	.home-edu-intro a.image-link {
		display: block;
		margin-top: 0;
	}
	.home-edu-intro .vc_custom_heading h4 {
		font-size: 20px !important;
	}
	#uwpqsf_id {
		background-position: 18px center;
		padding-left: 65px;
	}

	/* HOME SPA1-2 */
	.home-spa1-subscribe h4.h {
		margin-top: 20px;
		text-align: center;
	}
	.home-spa1-subscribe .info-contact {
		text-align: center;
	}
	.home-spa1-subscribe .newsletter .newsletter-email {
		width: 286px;
		padding: 0 20px;
		margin: 20px 0 !important;
	}
	.home-spa1-subscribe .newsletter-td-submit {
		text-align: center;
	}
	.home-spa1-subscribe .newsletter .newsletter-submit {
		margin: 0 70px;
	}
	.home-spa2-services1 {
		padding: 0 15px;
	}
	.home-spa1-services1 h2 {
		text-align: center !important; 
	}
	.home-spa1-services1 .wpb_content_element p {
		text-align: center !important; 
	}
	.home-spa1-services2 {
		padding: 0 15px;
	}
	.home-spa2-download {
		padding: 0 15px;
	}
	/* ONEPAGE */
	.onepage-slide .article  {
		margin-bottom: 20px;
	}
	.onepage-slide .vc_custom_heading h3 {
		font-size: 18px !important;
		white-space: nowrap;
	}
	.onepage-slide .vc_custom_heading h3,
	.onepage-slide .vc_custom_heading h4 {
		line-height: 50px !important;
	}
	.onepage-slide .wpb_single_image img {
		max-width: 50%;
	}
	.vc_row.align-left .vc_col-sm-6 .k2t-button.align-right,
	.vc_row.align-left .vc_col-sm-6 .k2t-button.align-left,
	.vc_row.align-left .vc_col-sm-6:last-child {
		text-align: center !important;
		margin-right: 0;
	}
	.badge.k2t-padding .k2t-button.align-right,
	.badge.k2t-padding .k2t-button.align-left {
		text-align: center !important;
		margin-right: 0;
	}
	#contact .wpb_content_element p span {
		font-size: 12px !important;
	}
	/* LANDING - RUBY 2 */
	.home-landing {
		padding: 0 15px 100px;
	}
	.home-landing .vc_col-sm-3 {
		width: 100%;
	}
	.iphone-hand .vc_col-sm-6:last-child {
		padding-left: 15px !important;
	}
	.landing-subscribe .k2t-button.align-right {
		text-align: center !important;
	}
	.landing-subscribe .k2t-button.align-right {
		text-align: center !important;
		margin-bottom: 15px !important;
	}
	.landing-subscribe .k2t-button.align-left {
		margin-right: 0;
	}
	.landing-subscribe .newsletter {
		width: 300px !important;
	}
	/* 404 PAGE */
	.k2t-error-404 .form-group {
		width: 300px !important;
	}
	/* ABOUT ME */
	.vc_row.about-info {
		padding-right: 0 !important;
	}
	.vc_row.about-info .vc_col-sm-6:last-child {
		padding-right: 25px;
		padding-left: 30px !important;
		padding-bottom: 60px;
	}
	/* UNDER CONSTRUCTION */
	.under-construction .newsletter {
		width: 100%;
	}
	.under-construction .newsletter .newsletter-email {
		width: 360px;
	}
}
@media only screen and (max-width: 320px) and (max-device-width: 320px) {
	.k2t-right-m .search-box{
		margin: 15px;
	}
	.b-masonry .masonry-layout[class*="column-"] .hentry {
		width: 100%;
	}
	.offcanvas-sidebar {
		width: 280px;
	}
	.k2t-searchbox input[type="text"] {
		font-size: 25px;
	}
	.k2t-searchbox #searchsubmit {
		font-size: 15px;
		top: -2px;
	}
	.b-large .k2t-meta {
		display: none;
	}
	.b-large .k2t-entry {
		padding: 0;
	}
	.k2t-social-share .social li {
		margin: 5px;
	}
	.b-masonry .masonry-layout .hentry {
		margin: 0 0 20px;
	}
	.wpcf7 .wpcf7-form > p {
		margin-bottom: 15px;
	}
	/* HOME SHOP */
	.home-shop-slide .vc_col-sm-4  .article.isotope-selector {
		width: 100% !important;
	}
	/* UNDER CONSTRUCTION */
	.under-construction .newsletter {
		width: 100%;
	}
	.under-construction .newsletter .newsletter-email {
		width: 290px;
		float: none;
		display: block;
		border-radius: 4px;
	}
	.under-construction .newsletter .newsletter-submit {
		border-radius: 4px;
		margin: 20px auto;
	}
	.brands-5-columns .brand-cell {
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	/* PORTFOLIO */
	.k2t-portfolio-shortcode h2.title {
		font-size: 17px;
	}
	/* WOOCOMERCE */
	.woocommerce-page.columns-5 ul.products li.product a.button,
	.woocommerce.columns-5 ul.products li.product  a.button {
		padding: 0 15px !important;
	}
	.woocommerce-account .k2t-content .woocommerce {
		padding: 40px 15px;
	}
	/* FOOTER */
	.k2t-main .footer3-copyright p {
		text-align: center;
	}
	.footer-v4 .col-left .vc_col-sm-6:last-child {
		margin-top: 30px;
		padding: 0 30px;
	}
	/* PORTFOLIO FREE STYLE */
	.isotope-gallery .isotope-selector,
	.isotope-gallery .isotope-selector.width-2 {
		width: 100% !important;
	}
}