hcode {
	white-space: normal;
	word-break: break-word;
}

img {
	max-width: 100%;
}
/*-----------------------------------------------------------------------------------
/* Admin styles
/*-----------------------------------------------------------------------------------*/
.smof_footer_info {
	width: 785px;
	margin: 0 15px;
	font-size: 11px;
	color: #999;
	text-align: center;
}

.updated, .error {
	display: none!important;
} /* disable the admin notices */
#of_container {
	margin: 15px 15px 5px 15px;
	width: 785px;
	position: relative;
	z-index: 0;
}

#of_container #header {
	height: 70px;
	background: #f1f1f1;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_container #header .logo {
	float: left;
	margin: 10px 20px;
}

#of_container #js-warning {
	color: red;
	float: left;
	margin: 20px 10px;
	width: 330px;
}

#of_container ul, #of_container ol {
	margin: 0;
}

.js #of_container #js-warning {
	display: none;
}

#of_container #header .logo h2 {
	display: inline-block;
	font-style: normal;
	padding-right: 5px;
}

#of_container #header .logo span {
	color: #888888;
}

#of_container #header .icon-option {
	float: right;
	height: 32px;
	width: 32px;
	background: url(../images/icon_option.png) no-repeat;
	margin: 20px 30px 0;
}

#of_container #info_bar {
	background: #f3f3f3;
	border: solid #d8d8d8;
	border-bottom: 1px solid #D8D8D8;
	border-width: 0px 1px 1px 1px;
	padding: 6px 20px 0px 6px;
	height: 31px;
	text-align: right;
	-moz-box-shadow: inset 0 1px 0 #fcfcfc;
	-webkit-box-shadow: inset 0 1px 0 #fcfcfc;
	box-shadow: inset 0 1px 0 #fcfcfc;
}

#of_container #expand_options {
	cursor: pointer;
	display: block;
	height: 22px;
	width: 21px;
	float: left;
	font-size: 0px;
	text-indent: -9999px;
	margin: 0 0 0 10px;
	border: 1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#of_container #info_bar .expand {
	background: url(../images/toggle_tabs.png) no-repeat -2px -1px;
}

#of_container #info_bar .close {
	background: url(../images/toggle_tabs.png) no-repeat -2px -26px;
}

#of_container #expand_options:hover {
	cursor: pointer;
	border-color: #888;
}

#of_container #main {
	background-color: #f1f1f1;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}

#of_container #of-nav {
	float: left;
	position: relative;
	z-index: 9999;
	width: 160px;
}

#of_container #of-nav ul {
	margin: 0;
}

#of_container #of-nav li {
	margin-bottom: 0;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9;
	margin-right: 1px;
	border-bottom: 1px solid #d8d8d8;
}

#of_container #of-nav li:last-child {
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
}

#of_container #of-nav li.current {
	margin-right: 0;
}

#of_container #of-nav li a, #of_container #of-nav ul li a:link, #of-nav ul li a:visited {
	display: block;
	padding: 10px 10px 10px 40px;
	background-repeat: no-repeat;
	background-position: 13px 10px;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #555;
	opacity: 0.5;
}

#of_container #of-nav ul li.current a {
	background-color: #fcfcfc;
	color: #797979;
	opacity: 1;
}

#of_container #of-nav ul li a:hover {
	color: #d54e21;
	opacity: 1;
}
#of_container #of-nav ul li a:focus {
	box-shadow: none;
}
/*menu icons - customize to your liking*/
#of_container #of-nav li.slideroptions a {
	background-image: url(../images/icon-slider.png);
}

#of_container #of-nav li.generalsettings a {
	background-image: url(../images/icon-settings.png);
}

#of_container #of-nav li.stylingoptions a {
	background-image: url(../images/icon-paint.png);
}

#of_container #of-nav li.exampleoptions a {
	background-image: url(../images/icon-docs.png);
}

#of_container #of-nav li.homesettings a {
	background-image: url(../images/icon-home.png);
}

#of_container #of-nav li.backupoptions a {
	background: url(../images/icon-backup.png) no-repeat;
}

#of_container #of-nav li.advancedsettings a {
	background: url(../images/wrench16.png) no-repeat;
}

#of_container #content {
	float: left;
	min-height: 500px;
	width: 595px;
	margin-left: -1px;
	padding: 0 14px;
	background-color: #FCFCFC;
	border-left: 1px solid #d8d8d8;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_container #content .section {
	margin-bottom: 10px;
}

#of_container #content .section h3.heading {
	font-family:;
	margin: 10px 0 10px 0;
	padding: 7px 0px;
	border-bottom: 1px solid #e7e7e7;
}

#of_container #content .section .controls {
	position: relative;
	float: left;
	width: 514px;
	margin: 0 15px 0 0;
}

#of_container #content .section .explain {
	float: left;
	padding: 0 10px 0 0;
	font-size: 11px;
	color: #999999;
}

#of_container #content .section-checkbox .controls {
	width: 25px;
}

#of_container #content .section-multicheck .controls input.checkbox {
}

#of_container #content .section-checkbox .explain {
	max-width: 93%;
}

#of_container #content .section-info h3.heading {
	display: none;
}

#of_container #content .section-info .controls {
	margin: 20px 0 0;
	float: none;
	width: auto;
}

#of_container #content .section-info .controls .of-info {
	padding: 15px 10px;
	line-height: 1.5em;
	font-size: 12px;
	background-color: #EFF9FF;
	border: 1px solid #D6F0FF;
	color: #777;
}

#of_container #content .section-info .controls .of-info ._icon {
	height: 16px;
	width: 16px;
	margin: 0 10px 0 0;
	float: left;
}

#of_container #content .section-info .controls small {
	font-size: 12px;
}

#of_container #content .section-info h3.heading {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#of_container #content .section-info .controls {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

#of_container .sorter {
	margin-right: -20px;
}

#of_container .sorter ul {
	background: #F9F9F9;
	border: 1px dashed #E3E3E3;
	min-height: 40px;
	padding: 10px 10px 0;
	width: 145px;
	float: left;
	margin: 0 15px 0 0;
}

#of_container .sorter ul h3 {
	margin: 0 0 10px;
	text-align: center;
	color: #777;
	text-transform: capitalize;
}

#of_container .sorter ul li {
	border: 1px solid #DFDFDF;
	cursor: move;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	text-align: center;
}

#of_container #content .section-sorter li.placeholder {
	background: #f9f9f9;
	border-width: 1px;
	border-style: dashed;
	height: 40px;
}

#of_container #content .section-slider li.placeholder {
	background: #f9f9f9;
	border-width: 1px;
	border-style: dashed;
	height: 33px;
}

#of_container textarea, #of_container input, #of_container select, #of_container button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
}

#of_container .controls input, #of_container .controls select, #of_container .controls textarea {
	margin-bottom: 9px !important;
	background-color: #f1f1f1;
	border: 1px solid;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	width: 340px;
	padding: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
}

#of_container .controls input:hover, #of_container .controls textarea:hover {
	background-color: #f9f9f9;
}

#of_container .controls input:focus, #of_container .controls textarea:focus {
	background-color: #fff;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	outline: 0;
}

#of_container .controls .upload {
	width: 340px;
}

#of_container .controls select {
	height: 28px;
	padding: 4px 5px;
	width: 340px;
}

#of_container .controls textarea {
	width: 345px;
}

#of_container input[type=text] {
	width: 340px;
}

#of_container input.checkbox {
	width: 30px;
}

#of_container input.of-radio {
	width: 30px;
}

label.radio, label.multicheck {
	position: relative;
}

#of_container .controls .input-text-small {
	width: 60px;
	margin-right: 10px;
}

#of_container .meta-two {
	margin-right: 10px;
}

#of_container #content .section-typography .controls {
	width: 440px;
}

#of_container #content .section-typography .explain {
	width: 130px;
}

#of_container .controls .of-typography-size {
	width: 70px;
	float: left;
}

#of_container .controls .of-typography-unit {
	width: 60px;
	float: left;
}

#of_container .controls .of-typography-face {
	width: 145px;
	float: left;
}

#of_container .controls .of-typography-style {
	width: 95px;
	float: left;
}

#of_container .controls .of-radio-img-img {
	border: 3px solid #fff;
	margin: 0 5px 10px 0;
	display: none;
	cursor: pointer;
	float: left;
}

#of_container .controls .of-radio-img-selected {
	border: 3px solid #ccc;
}

#of_container .controls .of-radio-img-img:hover {
	opacity: .8;
}

#of_container .controls .of-radio-tile-img {
	width: 50px;
	height: 50px;
	border: 3px solid #f9f9f9;
	margin: 0 5px 10px 0;
	display: none;
	cursor: pointer;
	float: left;
}

#of_container .controls .of-radio-tile-selected {
	border: 3px solid #DB423D;
}

#of_container .controls .of-radio-tile-img:hover {
	opacity: .8;
}

#of_container .controls .of-border-width {
	width: 70px;
	float: left;
}

#of_container .controls .of-border-style {
	width: 95px;
	float: left;
}

#of_container .group {
	display: none;
	padding-bottom: 20px;
}

#of_container .group h2 {
	display: none;
	border-bottom: 3px solid #e7e7e7;
}

#of_container .controls input:focus, #of_container select:focus, #of_container textarea:focus {
	background: #fff;
}

#of_container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#of_container .warning {
	background: #ffeeee no-repeat 10px center;
	; border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#of_container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

#of_container .of-save-popup {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 24px;
	text-align: center;
	display: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#of_container .of-save-popup div {
	background-repeat: no-repeat;
	background-position: 20px 50%;
	padding: 30px 30px 30px 60px;
}

#of_container .of-save-save {
	background-image: url(../images/button_check.png);
}

#of_container .of-save-reset {
	background-image: url(../images/sign_warning.png);
}

#of_container .of-save-fail {
	background-image: url(../images/stop.png);
}

#of_container .accept, #of_container .warning, #of_container .update_available, #of_container .of-save-popup {
	z-index: 9999;
}

#of_container .upload_button_div {
	margin-top: 7px;
	margin-bottom: 15px;
}

#of_container .button {
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-color: #dfdfdf;
	background-color: #fff;
	margin: 4px 0 4px;
}

#of_container .button:hover, #of_container .button_hover {
	border-color: #bbb;
	color: #464646;
}

#of_container .button_active {
	background: #eee url(../../images/white-grad-active.png) repeat-x scroll left top;
}

#of_container .image_reset_button, #of_container .button.remove-image {
	margin-left: 10px;
	color: #ef521d;
}

#of_container .button.remove-image {
	display: inline-block !important;
}

#of_container .button.remove-image.hide {
	display: none !important;
}

#of_container .image_reset_button:hover, #of_container .button.remove-image:hover {
	color: red;
}

#of_container .upload-error {
	float: left;
	color: #666;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 0 #FFFFFF;
	margin: 0 10px 0 0;
	padding: 3px 10px;
	background: #FFDFEC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#of_container .reset-button {
	font-family: Arial, Verdana, sans-serif;
	float: left;
	margin: 0;
	color: #ef521d;
	border-color: #bbb;
}

#of_container .reset-button:hover {
	color: #ef521d;
	border-color: #888;
}

#of_container .slide_add_button {
	float: right;
	margin-top: 10px;
}

#of_container .save_bar {
	background: #f3f3f3;
	border: solid #ccc;
	border-width: 0px 1px 1px 1px;
	padding: 10px 20px 0px 20px;
	height: 35px;
	text-align: right;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_save {
	font-family: Arial, Verdana, sans-serif;
	float: right;
}

#of_save:hover {
	border: 1px solid #111 !important;
}

#of_container .hide {
	display: none;
}

#of_container .ajax-loading-img-top {
	margin: 5px 4px 0;
	float: left;
}

#of_container .ajax-loading-img-bottom {
	margin: 5px 4px 0;
}

#of_container .ajax-reset-loading-img {
	display: block;
	margin-left: 100px;
}

#of_container .screenshot {
	max-width: 340px;
	margin-bottom: 9px;
}

#of_container .of-option-image {
	max-width: 340px;
	padding: 5px;
	border: 1px solid #e3e3e3;
	background: #f7f7f7;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#of_container .select_wrapper {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	background: #F1F1F1 url(../images/select.png) no-repeat right center;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
	border-style: solid;
	border-width: 1px;
	float: left;
	height: 26px;
	width: 344px;
	margin: 0;
	margin-bottom: 9px !important;
	width: 340px;
	display: block;
	color: #888;
	position: relative;
}

#of_container .select_wrapper:hover {
	background-color: #f9f9f9;
}

#of_container .mini .controls select, #of_container #content .section .mini .controls, #of_container .controls .typography-size, #of_container .controls .border-width, #of_container .controls .mini, #of_container .mini .controls input, #of_container #content .mini .controls {
	width: 70px;
}

#of_container .controls .typography-face {
	width: 145px;
}

#of_container .controls .typography-style, #of_container .controls .border-style {
	width: 95px;
}

#of_container .controls .typography-size, #of_container .controls .typography-face, #of_container .controls .typography-style, #of_container .controls .border-width, #of_container .controls .border-style {
	margin-right: 5px;
}

#of_container #content .mini .explain {
	width: 500px;
}

#of_container .of-notice {
	background: #ffd1d1;
	border: 1px solid #DFDFDF;
	-moz-border-radius: 8px;
	text-align: center;
	margin-bottom: 15px;
}

#of_container .slider li {
	width: 345px;
	border: 1px solid #dfdfdf;
	background: #f9f9f9;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_container .slide_header {
	cursor: move;
	height: 32px;
	padding-left: 10px;
	padding-right: 20px;
	line-height: 32px;
	background-color: #F1F1F1;
	margin: 1px 0 -1px 0;
	border-bottom: 1px solid #dfdfdf;
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	overflow: hidden;
	position: relative;
}

#of_container .slide_body {
	display: none;
	padding: 10px 10px 10px 11px;
}

#of_container .slider li input, #of_container .slider li input.upload, #of_container .slider li textarea, #of_container .slider li .screenshot, #of_container .slider li .of-option-image {
	width: 311px;
}

#of_container a.slide_edit_button, #of_container a.slide_delete_button {
	text-indent: -9999px;
	font-size: 0;
}

#of_container a.slide_edit_button {
	position: absolute;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background: url(../images/dropdown-arrow.png) no-repeat 9px -28px;
}

#of_container a:hover.slide_edit_button {
	background: url(../images/dropdown-arrow.png) no-repeat 9px 11px;
}

#of_container a.slide_delete_button {
	float: right;
	margin: 0 0 0 7px;
	width: 16px;
	height: 16px;
	background: url(../images/icon-delete.png) no-repeat;
}

#of_container .select_wrapper span {
	height: 26px;
	line-height: 26px;
	z-index: 2;
	padding-left: 6px;
	position: absolute;
	left: 0;
}

#of_container .select_wrapper .select {
	cursor: pointer;
	height: 28px;
	margin: 0;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	padding: 0;
	position: relative;
	width: inherit;
	z-index: 4;
}

#of_backup {
	margin: 40px 20px;
	width: 600px;
}

#of_backup textarea {
	margin-bottom: 9px !important;
	background-color: #F1F1F1;
	border: 1px solid;
	width: 100%;
	padding: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
}

#of_container #content .section-backup .controls {
	width: 80%;
}

#of_container #content .section-backup .explain {
	display: none;
}

#of_container #content .section-backup .backup-box {
	margin: 0 0 20px;
}

#of_container #content .section-backup .instructions {
	margin: 0 0 10px;
	color: #777;
}

#of_container #content .section-backup .button, #of_container #content .section-transfer .button {
	margin: 0 25px 0 0;
}
/* google fonts previewer field style */
#of_container p.google_font_preview {
	display: block;
	border: 1px dotted lightgray;
	float: left;
	padding: 10px;
	font-size: 10pt;
	width: 318px;
	height: auto;
	margin: 0 0 10px 0;
	line-height: 1.2;
}

.temphide {
	display: none;
}
/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/*-------------------------------------------------------------------------------------------*/
/* Tipsy
/*-------------------------------------------------------------------------------------------*/
.tipsy {
	font-size: 10px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	background-color: #000;
	color: #FFF;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
}
/* Rounded corners */
.tipsy-inner {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #000;
}
/* Rules to colour arrows */
.tipsy-arrow-n {
	border-bottom-color: #000;
}

.tipsy-arrow-s {
	border-top-color: #000;
}

.tipsy-arrow-e {
	border-left-color: #000;
}

.tipsy-arrow-w {
	border-right-color: #000;
}

.tipsy-n .tipsy-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
/*-------------------------------------------------------------------------------------------*/
/* Switch
/*-------------------------------------------------------------------------------------------*/
p.switch-options {
	margin: 0;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
	background: url(../images/switch.gif) repeat-x;
	display: block;
	float: left;
}

.cb-enable span, .cb-disable span {
	line-height: 30px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
}

.cb-enable span {
	background-position: left -90px;
	padding: 0 10px;
}

.cb-disable span {
	background-position: right -180px;
	padding: 0 10px;
}

.cb-disable.selected {
	background-position: 0 -30px;
}

.cb-disable.selected span {
	background-position: right -210px;
	color: #fff;
}

.cb-enable.selected {
	background-position: 0 -60px;
}

.cb-enable.selected span {
	background-position: left -150px;
	color: #fff;
}

.switch-options label {
	cursor: pointer;
}

.switch-options input {
	display: none;
}

.cb-enable span, .cb-disable span {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}/*disable text selection*/
/*-------------------------------------------------------------------------------------------*/
/* Color picker overwrite
/*-------------------------------------------------------------------------------------------*/
#of_container .controls .wp-picker-container input.button {
	width: auto;
	height: auto;
	line-height: 1.5;
	padding: 2px 8px;
	margin: 6px 6px 6px 6px;
}

#of_container .controls .of-color {
	float: left;
	width: 70px;
	margin-left: 5px;
	margin-top: 6px;
	padding: 3px;
}



#of_container .controls .wp-color-result.wp-picker-open {

	top: -3px;
}

#of_container #content .section-color .controls {
	width: 345px;
}

#of_container #content .section-color .explain {
	width: 225px;
}

#of_container #content .iris-picker .iris-strip .ui-slider-handle {
	position: absolute;
	background: none!important;
	right: -3px;
	left: -3px;
	border: 4px solid #aaa!important;
	border-width: 4px 3px;
	width: auto;
	height: 6px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	opacity: .9;
	z-index: 5;
	cursor: ns-resize;
}

#of_container #content .iris-picker .iris-slider-offset {
	position: absolute;
	top: 3px;
	left: 0;
	right: 0;
	bottom: 6px;
	width: 28px;
	background: none!important;
	border: 0!important;
	height: auto;
}

#of_container .controls .wp-picker-container .wp-color-result {
	outline: 0;
}
/* added by themelead */
#of_container #content .section-info .controls .of-info {
	background: #000;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 3px;
	border: none;
}
/*--------------------------------- 
FOR HEADING OPTIONS
*---------------------------------*/
.k2t_header_options_wrapper {
	width: 590px;
	min-height: 100px;
	overflow: auto;
	background: #fff;
	margin: 20px auto;
}

.k2t_header_options_wrapper {
	min-height: 100px;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
}

.k2t_header_options_setting {
	width: 26px;
	height: 100%;
	right: 0px;
	position: absolute;
	border-left-width: 1px;
	border-left-color: #e1e1e1;
	border-left-style: solid;
	background: #f8f8f8;
}

.k2t_header_options_setting .k2t_header_options_icon {
	width: 12px;
	height: 12px;
	background: url('../images/setting.png') no-repeat;
	margin: 10px auto 10px;
}

.k2t_header_options_setting .k2t_header_options_icon:hover {
	background: url('../images/setting_hover.png') no-repeat;
	cursor: pointer;
}

.k2t_header_options_setting .k2t_header_options_add_columns {
	width: 12px;
	height: 12px;
	background: url('../images/disable.png') no-repeat;
	margin: 0px auto 10px;
}

.k2t_header_options_setting .k2t_header_options_add_columns:hover {
	width: 12px;
	height: 12px;
	background: url('../images/disable_hover.png') no-repeat;
	margin: 0px auto 10px;
	cursor: pointer;
}

.k2t_header_options_columns .dashicons {
	opacity: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: Absolute;
	right: 5px;
	top: 3px;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transtion: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

.k2t_header_options_item:hover>.dashicons,.k2t_header_options_columns:hover>.dashicons {
	opacity: 1;
}

.k2t_header_options_columns .dashicons:hover {
	color: #3d3d3d;
}
/* Recycle */
.k2t_header_options_setting .k2t_header_options_recycle:hover {
	width: 12px;
	height: 12px;
	background: url('../images/disable_hover.png') no-repeat;
	margin: 0px auto 10px;
	cursor: pointer;
	position: absolute;
	bottom: 7px;
	margin: 0 auto;
	margin-left: 8px;
}

.k2t_header_options_setting .k2t_header_options_recycle {
	width: 12px;
	height: 12px;
	background: url('../images/disable.png') no-repeat;
	margin: 0px auto 10px;
	position: absolute;
	bottom: 7px;
	margin: 0 auto;
	margin-left: 8px;
}

.k2t_header_options_wrapper_row {
	padding: 10px;
	width: 543px;
	float: left;
}

.k2t_header_options_wrapper_row .k2t_header_options_columns_content:last-child {
	margin-right: 0;
}

.k2t_header_options_row {
	border: 1px solid #e9e9e9;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.k2t_header_options_1_3 {
	width: 30%;
}

.k2t_header_options_columns {
	padding: 2px;
	min-height: 75px;
	float: left;
	width: 100%;
}
/* Add Element Css */
.k2t_header_options_add_element_columns {
	width: 96%;
	height: 25px;
	bottom: 0px;
	display: inline-table;
	background: #fff;
	padding: 2px;
}

.k2t_header_options_top_gray {
	height: 24px;
	background: #eee;
	cursor: pointer;
}

.k2t_header_options_add_elelement {
	width: 14px;
	height: 14px;
	position: absolute;
	bottom: 12px;
	margin: 0 0 0 -7px;
	left: 50%;
	text-align: center;
}
.k2t_header_options_add_elelement i {
	color: #e1e1e1;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transtion: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.k2t_header_options_add_elelement:hover i {
	color: #81b800;
	cursor: pointer;
}


.header_options_placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
 /*height: 100%;*/
	width: 100%;
}

.ui-state-highlight {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

.k2t_header_options_columns_content {
	min-height: 73px;
	margin-bottom: 10px;
	margin-right: 18px;
	position: relative;
}
/* For Popup */
.header_option_popup {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.95);
	margin: 0 auto;
	z-index: 9999999;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
}

.header_options_popup_content {
	width: 800px;
	height: 600px;
	background: #fff;
	margin: auto;
	padding: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header_options_popup_content-inner {
	padding: 0 20px 20px;
}
.header_options_popup_content-inner .of-option-image {
	max-height: 100px;
}
.k2t_header_options_feature_setting_params .header_options_popup_content-inner {
	max-height: 450px;
	overflow-x: hidden;
	padding: 20px;
}
.k2t_header_options_feature_setting_params .header_option_popup_control {
	margin: 0;
	bottom: -48px;
	background: #fff;
}
.k2t_header_options_feature_setting_params .header_options_popup_content_heading {
	margin-bottom: 0;
}
/* List Feature */
ul.header_options_list_feature {
	list-style-type: none;
	padding: 0 20px;
}

ul.header_options_list_feature li {
	border: 1px solid #dfdfdf;
	color: #999;
	width: 49%;
	float: left;
	margin-right: 2%;
	padding: 10px 20px 10px 35px;
	margin-bottom: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	position: relative;
	z-index: 1;
}
ul.header_options_list_feature li:nth-child(2n+0) {
	margin-right: 0;
}
ul.header_options_list_feature li:after {
	content: '\f039';
	position: absolute;
	font-family: FontAwesome;
	font-size: 14px;
	width: 20px;
	height: 20px;
	color: #999;
	top: 10px;
	left: 10px;
	z-index: 2;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
ul.header_options_list_feature li:hover:after {
	color: #222;
}

ul.header_options_list_feature li.k2t_header_options_feature_wp_editor:after {
	content: '\f044';
}
ul.header_options_list_feature li.k2t_header_options_feature_search_box:after {
	content: '\f002';
}
ul.header_options_list_feature li.k2t_header_options_feature_custom_menu:after {
	content: '\f0c9';
}
ul.header_options_list_feature li.k2t_header_options_feature_cart:after {
	content: '\f07a';
}
ul.header_options_list_feature li.k2t_header_options_feature_widget:after {
	content: '\f0e4';
}
ul.header_options_list_feature li.k2t_header_options_feature_logo:after {
	content: '\f192';
}
ul.header_options_list_feature li.k2t_header_options_feature_canvas_sidebar:after {
	content: '\f1de';
}
ul.header_options_list_feature li.k2t_header_options_feature_social:after {
	content: '\f1e0';
}


ul.header_options_list_feature li:hover {
	background: #f2f2f2;
}

ul.header_options_list_feature li:nth-child(2n) {
	margin-right: 0;
}

.header_options_popup_content_heading {
	text-align: left;
	display: block;
	border-bottom: 1px solid #e5e5e5;
	background: #f2f2f2;
	padding: 20px;
}
/* Items Add */
.k2t_header_options_item {
	position: relative;
	width: 100%px;
	height: 20px;
	border: 1px solid #f2f2f2;
	margin-top: 2px;
	padding: 5px 10px;
	font-size: 13px;
	cursor: pointer;
	color: #999;
	background: #fff;
}

.k2t_header_options_item:hover {
	border-color: #ccc;
}

.k2t_header_options_elements {
	min-height: 20px;
}

.header_options_social_list_popup {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#of_container .header_options_social_list_popup input.checkbox {
	margin-bottom: 0px !important;
	margin-top: 0 !important;
}

#of_container .header_options_social_list_popup {
	width: 30%;
}
/* HEADER POPUP STYLE*/
.header_option_popup_control {
	height: 52px;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #e9e9e9;
	width: 100%;
	text-align: right;
}

.k2t_header_option_popup_control_cancel,
.k2t_header_option_popup_control_save {
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

#of_container .k2t_header_option_popup_control_save,
#of_container .k2t_header_option_popup_control_cancel {
	margin-top: 12px;
}

#of_container .k2t_header_option_popup_control_cancel {
	margin-right: 11px;
}
.k2t_header_option_popup_control_close {
	position: absolute;
	right: 20px;
	top: 19px;
	cursor: pointer;
}
.k2t_header_option_popup_control_close i {
	display: inline-block;
	color: #999;
}
.k2t_header_option_popup_control_close:hover i {
	color: #222;
}

.header_option_popup input.of-input, .header_option_popup select.of-input {
	width: 100% !important;
}

.header_option_popup input.checkbox.of-input {
	width: 30px !important;
}

.k2t_header_options_recycle .k2t_header_options_item, .k2t_header_options_recycle .k2t_header_options_columns {
	display: none !important;
}
/*--------------------------------------------- 
END HEADING OPTIONS
-----------------------------------------------*/
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
	position: absolute;
	right: -16px;
	;
}

.k2t_wp_editor {
	width: 439px;
	height: 90px;
}
.k2t-importer-box a.button{ margin-right:20px;}
/*--------------------------------- 
FOR HEADING OPTIONS
*---------------------------------*/
.k2t_advance_backup_options_wrapper {
	width: 590px;
	min-height: 100px;
	overflow: auto;
	background: #fff;
	margin: 20px auto;
}

.k2t_advance_backup_options_wrapper {
	min-height: 100px;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
}

.k2t_advance_backup_options_setting {
	width: 26px;
	height: 100%;
	right: 0px;
	position: absolute;
	border-left-width: 1px;
	border-left-color: #e1e1e1;
	border-left-style: solid;
	background: #f8f8f8;
}

.k2t_advance_backup_options_setting .k2t_advance_backup_options_icon {
	width: 12px;
	height: 12px;
	background: url('../images/setting.png') no-repeat;
	margin: 10px auto 10px;
}

.k2t_advance_backup_options_setting .k2t_advance_backup_options_icon:hover {
	background: url('../images/setting_hover.png') no-repeat;
	cursor: pointer;
}

.k2t_advance_backup_options_setting .k2t_advance_backup_options_add_columns {
	width: 12px;
	height: 12px;
	background: url('../images/disable.png') no-repeat;
	margin: 0px auto 10px;
}

.k2t_advance_backup_options_setting .k2t_advance_backup_options_add_columns:hover {
	width: 12px;
	height: 12px;
	background: url('../images/disable_hover.png') no-repeat;
	margin: 0px auto 10px;
	cursor: pointer;
}

.k2t_advance_backup_options_columns .dashicons {
	opacity: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: Absolute;
	right: 5px;
	top: 3px;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transtion: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

.k2t_advance_backup_options_item:hover>.dashicons,.k2t_advance_backup_options_columns:hover>.dashicons {
	opacity: 1;
}

.k2t_advance_backup_options_columns .dashicons:hover {
	color: #3d3d3d;
}
/* Recycle */
.k2t_advance_backup_options_setting .k2t_advance_backup_options_recycle:hover {
	width: 12px;
	height: 12px;
	background: url('../images/disable_hover.png') no-repeat;
	margin: 0px auto 10px;
	cursor: pointer;
	position: absolute;
	bottom: 7px;
	margin: 0 auto;
	margin-left: 8px;
}

.k2t_advance_backup_options_setting .k2t_advance_backup_options_recycle {
	width: 12px;
	height: 12px;
	background: url('../images/disable.png') no-repeat;
	margin: 0px auto 10px;
	position: absolute;
	bottom: 7px;
	margin: 0 auto;
	margin-left: 8px;
}

.k2t_advance_backup_options_wrapper_row {
	padding: 10px;
	width: 543px;
	float: left;
}

.k2t_advance_backup_options_wrapper_row .k2t_advance_backup_options_columns_content:last-child {
	margin-right: 0;
}

.k2t_advance_backup_options_row {
	border: 1px solid #e9e9e9;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.k2t_advance_backup_options_1_3 {
	width: 30%;
}

.k2t_advance_backup_options_columns {
	padding: 2px;
	min-height: 75px;
	float: left;
	width: 100%;
}
/* Add Element Css */
.k2t_advance_backup_options_add_element_columns {
	width: 96%;
	height: 25px;
	bottom: 0px;
	display: inline-table;
	background: #fff;
	padding: 2px;
}

.k2t_advance_backup_options_top_gray {
	height: 24px;
	background: #eee;
	cursor: pointer;
}

.k2t_advance_backup_options_add_elelement {
	width: 14px;
	height: 14px;
	position: absolute;
	bottom: 12px;
	margin: 0 0 0 -7px;
	left: 50%;
	text-align: center;
}
.k2t_advance_backup_options_add_elelement i {
	color: #e1e1e1;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transtion: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.k2t_advance_backup_options_add_elelement:hover i {
	color: #81b800;
	cursor: pointer;
}


.advance_backup_options_placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
 /*height: 100%;*/
	width: 100%;
}

.ui-state-highlight {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

.k2t_advance_backup_options_columns_content {
	min-height: 73px;
	margin-bottom: 10px;
	margin-right: 18px;
	position: relative;
}
/* For Popup */
.advance_backup_option_popup {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.95);
	margin: 0 auto;
	z-index: 9999999;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
}

.advance_backup_options_popup_content {
	width: 440px;
	height: 440px;
	background: #fff;
	margin: 100px auto;
	padding: 0;
	position: relative;
}

.k2t_advance_backup_options_feature_setting_params {
	height: 400px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 104%;
}
/* List Feature */
ul.advance_backup_options_list_feature {
	list-style-type: none;
	padding: 0 20px;
}

ul.advance_backup_options_list_feature li {
	border: 1px solid #dfdfdf;
	color: #999;
	width: 48%;
	float: left;
	margin-right: 2%;
	padding: 10px 20px 10px 35px;
	margin-bottom: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	position: relative;
	z-index: 1;
}
ul.advance_backup_options_list_feature li:nth-child(2n+0) {
	margin-right: 0;
}
ul.advance_backup_options_list_feature li #download_backup {
	position:relative;
	width: 20px;
	height: 20px;
	top: 10px;
	left: 10px;
}
/* list icon button */
ul.advance_backup_options_list_feature li #download_backup:after {
	content: '\f019 ';
	position: absolute;
	font-family: FontAwesome;
	font-size: 14px;
	width: 20px;
	height: 20px;
	color: #999;
	top: 0;
	left: 0;
	z-index: 2;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
ul.advance_backup_options_list_feature li:hover #download_backup {
	color: #222;
}
/* list icon button */

ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_wp_editor:after {
	content: '\f044';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_search_box:after {
	content: '\f002';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_custom_menu:after {
	content: '\f0c9';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_cart:after {
	content: '\f07a';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_widget:after {
	content: '\f0e4';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_logo:after {
	content: '\f192';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_canvas_sidebar:after {
	content: '\f1de';
}
ul.advance_backup_options_list_feature li.k2t_advance_backup_options_feature_social:after {
	content: '\f1e0';
}



ul.advance_backup_options_list_feature li:hover, ul.advance_backup_options_list_feature li.active {
    background: #D5D5D5;
    color:#816E6E;
}


ul.advance_backup_options_list_feature li:nth-child(2n) {
	margin-right: 0;
}

.advance_backup_options_popup_content_heading {
	text-align: left;
	display: block;
	border-bottom: 1px solid #e5e5e5;
	background: #f2f2f2;
	padding: 20px;
}
/* Items Add */
.k2t_advance_backup_options_item {
	position: relative;
	width: 100%px;
	height: 20px;
	border: 1px solid #f2f2f2;
	margin-top: 2px;
	padding: 5px 10px;
	font-size: 13px;
	cursor: pointer;
	color: #999;
	background: #fff;
}

.k2t_advance_backup_options_item:hover {
	border-color: #ccc;
}

.k2t_advance_backup_options_elements {
	min-height: 20px;
}

.advance_backup_options_social_list_popup {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#of_container .advance_backup_options_social_list_popup input.checkbox {
	margin-bottom: 0px !important;
	margin-top: 0 !important;
}

#of_container .advance_backup_options_social_list_popup {
	width: 30%;
}
/* advance_backup POPUP STYLE*/
.advance_backup_option_popup_control {
	height: 52px;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #e9e9e9;
	width: 100%;
	margin-left: 0px;
}

.k2t_advance_backup_option_popup_control_cancel, .k2t_advance_backup_option_popup_control_save {
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

.k2t_advance_backup_option_popup_control_cancel {
	padding: 6px 10px;
	background: #ee676c;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 55px;
	border-radius: 2px 2px 2px 2px;
	color: #fff;
	font-family: "Roboto Black", Sans-serif;
	text-transform: uppercase;
	cursor: pointer;
}

.k2t_advance_backup_option_popup_control_cancel:hover {
	background: #c23b40;
}

.k2t_advance_backup_option_popup_control_save {
	padding: 6px 10px;
	background: #8dc63f;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 55px;
	border-radius: 2px 2px 2px 2px;
	color: #fff;
	font-family: "Roboto", Sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.k2t_advance_backup_option_popup_control_save:hover {
	background: #639c15;
}

.k2t_advance_backup_option_popup_control_close {
	position: absolute;
	right: 20px;
	top: 19px;
	cursor: pointer;
}
.k2t_advance_backup_option_popup_control_close i {
	display: inline-block;
	color: #999;
}
.k2t_advance_backup_option_popup_control_close:hover i {
	color: #222;
}

.advance_backup_option_popup input.of-input, .advance_backup_option_popup select.of-input {
	width: 100% !important;
}

.advance_backup_option_popup input.checkbox.of-input {
	width: 30px !important;
}

.k2t_advance_backup_options_recycle .k2t_advance_backup_options_item, .k2t_advance_backup_options_recycle .k2t_advance_backup_options_columns {
	display: none !important;
}

.k2t_advance_backup_options_feature  .dashicons_item{ position:absolute;right:0px;top:8px;opacity:0;}
.k2t_advance_backup_options_feature  li:hover .dashicons_item{ opacity:1; transition: opacity 0.3s linear 0.3s; -moz-transition: opacity 0.3s linear 0.3s; -moz-transition:  opacity 0.3s linear 0.3s; }
.abop_control_file_upload { display:none; }
.advance_backup_options_list_feature li object {
	display: block;
	float: left;
	margin-left: -25px;
	margin-right: 5px;
	padding-top: 3px;
	margin-bottom: -3px;
	cursor:pointer;
}

.notice_popup{
	width: 348px;
	height: 142px;
	background: #fff;
	margin: 0px auto;
	position: relative;
	top:100px;
	z-index: 9999999999;
	display: none;
	padding:10px 10px 10px 10px;
}
.notice_popup button{ margin-left:0px;}
.notice_popup select.notice_popup_choise{
	width: 264px;
}
#of_container #content .section.section-k2t_advance_backup .controls{ width:100%;}
/* theme versions in admin theme options */

.k2t-theme-versions {
	
}

.k2t-theme-versions .theme-ver {
	float: left;
	margin: 0 30px 30px 0;
	width: 250px;
	text-align: center;
	position: relative;
}

.k2t-theme-versions .theme-ver .ver-info {
	position: absolute;
	top:0;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

.k2t-theme-versions .theme-ver img  {
	max-width: 100%;
	margin-bottom: 10px;
}
#option-tree-settings-api .k2t-theme-versions .theme-ver h4  {
	color:#be9030;
	text-transform: uppercase;
	margin:0;
	line-height: 1.0;
	font-size: 11px;
	font-weight: normal;
}
#option-tree-settings-api .k2t-theme-versions .theme-ver h2  {
	margin:0;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

.k2t-theme-versions .theme-ver button {
	position: absolute;
	top: 30%;
	left:50%;
	margin-left: -50px;
	opacity: 0;
	visibility: hidden;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
}

.k2t-theme-versions .theme-ver:hover button {
	opacity: 1;
	visibility: visible;
}

.k2t-theme-versions .theme-ver #floatingCirclesG {
	left:44%;
	top:14%;
	margin-top: -85px;
	margin-bottom: 45px;
	z-index: 10;
}

.wrap.settings-wrap .ver-install-result  div.updated {
	margin-bottom: 20px!important;
	padding: 10px 10px;
}
#option-tree-settings-api .ver-install-result .rev-slider-result pre {
	background: none;
	font-size: 13px;
	padding: 0;
	margin: 0 0 10px 0;
	font-family: "Open Sans",sans-serif;
	line-height: 18px;
	padding: 0;
	border:0;
	color: #000;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.k2t-theme-versions.with-transition {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.theme-ver.with-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.versions-filters {
  text-align: right;
  
  margin: 0 0 20px 0;
  padding: 5px 0px 20px 0px;
}
.versions-filters li {
  list-style: none;
  display: inline-block;
  margin: 0 2px 0 2px;
}
.versions-filters li .btn {
  margin: 0;
  display: block;
  font-size: 12px;
  line-height: 34px;
  height: 34px;
  border: 1px solid #CBCBCB;
  color: #000;
  text-transform: uppercase;
  padding: 0 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.versions-filters li .btn:hover,
.versions-filters li .btn.active {
  line-height: 34px;
  height: 34px;
  color: #FFF;
  background-color: #cda85c;
  border-color: transparent !important;
}
.ace_editor{
	border: 1px solid #DDD;
	height: 250px;
  	width: 530px;
}
.section-textarea .ace_editor{

	width: 345px;
	margin-top: 0px;
	height: 150px;
}

/* Advance Backup Data */
/* advance_backup POPUP STYLE*/
/* advance_backup POPUP STYLE*/
.advance_backup_data_popup_control {
	height: 52px;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #e9e9e9;
	width: 100%;
	margin-left: 0px;
}

.k2t_advance_backup_data_popup_control_cancel, .k2t_advance_backup_data_popup_control_save {
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}

.k2t_advance_backup_data_popup_control_cancel {
	padding: 6px 10px;
	background: #ee676c;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 55px;
	border-radius: 2px 2px 2px 2px;
	color: #fff;
	font-family: "Roboto Black", Sans-serif;
	text-transform: uppercase;
	cursor: pointer;
}

.k2t_advance_backup_data_popup_control_cancel:hover {
	background: #c23b40;
}

.k2t_advance_backup_data_popup_control_save {
	padding: 6px 10px;
	background: #8dc63f;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 55px;
	border-radius: 2px 2px 2px 2px;
	color: #fff;
	font-family: "Roboto", Sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.k2t_advance_backup_data_popup_control_save:hover {
	background: #639c15;
}

.k2t_advance_backup_data_popup_control_close {
	position: absolute;
	right: 20px;
	top: 19px;
	cursor: pointer;
}
.k2t_advance_backup_data_popup_control_close i {
	display: inline-block;
	color: #999;
}
.k2t_advance_backup_data_popup_control_close:hover i {
	color: #222;
}

.advance_backup_data_popup input.of-input, .advance_backup_data_popup select.of-input {
	width: 100% !important;
}

.advance_backup_data_popup input.checkbox.of-input {
	width: 30px !important;
}

.k2t_advance_backup_data_recycle .k2t_advance_backup_data_item, .k2t_advance_backup_data_recycle .k2t_advance_backup_data_columns {
	display: none !important;
}

.k2t_advance_backup_data_feature  .dashicons_item{ position:absolute;right:0px;top:8px;opacity:0;}
.k2t_advance_backup_data_feature  li:hover .dashicons_item{ opacity:1; transition: opacity 0.3s linear 0.3s; -moz-transition: opacity 0.3s linear 0.3s; -moz-transition:  opacity 0.3s linear 0.3s; }
.abop_control_file_upload { display:none; }
.advance_backup_data_list_feature li object {
	display: block;
	float: left;
	margin-left: -25px;
	margin-right: 5px;
	padding-top: 3px;
	margin-bottom: -3px;
	cursor:pointer;
}

.notice_popup{
	width: 348px;
	height: 142px;
	background: #fff;
	margin: 0px auto;
	position: relative;
	top:100px;
	z-index: 9999999999;
	display: none;
	padding:10px 10px 10px 10px;
}
.notice_popup button{ margin-left:0px;}
.notice_popup select.notice_popup_choise{
	width: 264px;
}
#of_container #content .section.section-k2t_advance_backup .controls{ width:100%;}
/* theme versions in admin theme options */

.advance_backup_data_popup_content {
	width: 440px;
	height: 480px;
	background: #fff;
	margin: 100px auto;
	padding: 0;
	position: relative;
}
.advance_backup_data_popup {
width: 100%;
height: 100%;
background: rgba(0,0,0,0.95);
margin: 0 auto;
z-index: 9999999;
display: none;
position: fixed;
top: 0px;
left: 0px;
}
.advance_backup_data_popup_content_heading {
	text-align: left;
	display: block;
	border-bottom: 1px solid #e5e5e5;
	background: #f2f2f2;
	padding: 20px;
	margin-bottom: 0px;
}

.advance_backup_data_popup_step_1,.advance_backup_data_popup_step_2{
	padding: 0 20px;
	
	height: 370px;
}
.advance_backup_data_wrong{ border-radius: 5px 5px 5px 5px; border:1px solid #F4E9C0; background: #fdf8e4; padding:15px 10px 10px 10px;margin-bottom: 15px;margin-bottom: 10px;margin-top: 25px;}
.advance_backup_data_hilight_red,.advance_backup_data_hilight_green{ background:#ED3A23; border-radius: 5px 5px 5px 5px;color:#fff;padding: 5px 10px 5px 10px;margin-top:5px !important;}
.advance_backup_data_hilight_green{ background:#056b16;}
.advance_backup_data_wrong ul{ margin-top:20px !important;}
.advance_backup_data_wrong input[type=checkbox]{ margin-bottom:0px !important;}
.advance_backup_data_wrong label{ vertical-align: inherit;}

.advance_backup_data_popup_step_2 .advance_backup_data_wrong{
margin-bottom: 15px;
margin-top: 15px;
}


.process_percent_container{

	width: 339px;
	background: #f3f3f3;
	height: 27px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 2px 2px 2px 2px;
}
.process_percent{

	width: 40%;
	height: 100%;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;

	
			animation: 10s linear 0s normal none infinite running progress_striped;
		-moz-animation: 10s linear 0s normal none infinite running progress_striped;
	-webkit-animation: 10s linear 0s normal none infinite running progress_striped;

	background-color: #F14D20;
	border-radius: 2px 2px 2px 2px;
	color:#fff;

}
.process_percent span{
	line-height: 26px;
	padding-left: 10px;
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
	};
}

@-moz-keyframes spinoff {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(-360deg);
	};
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	};
}

@-webkit-keyframes spinoff {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
	};
}
@keyframes progress_striped {
	from { background-position: left; }
	to { background-position: right; }
}
@-moz-keyframes progress_striped {
	from { background-position: left; }
	to { background-position: right; }
}
@-webkit-keyframes progress_striped {
	from { background-position: left; }
	to { background-position: right; }
}
.ace_editor{
display: inline-block !important;
}